@font-face {
    font-family: 'Akrobat-Black';
    src: url('../fonts/Akrobat-Black.eot');
    src: url('../fonts/Akrobat-Black.woff2') format('woff2'),
         url('../fonts/hAkrobat-Black.woff') format('woff'),
  }
  
  @font-face {
    font-family: 'Akrobat-SemiBold';
    src: url('../fonts/Akrobat-SemiBold.eot');
    src: url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
         url('../fonts/hAkrobat-SemiBold.woff') format('woff'),
  }
  
  @font-face {
    font-family: 'Akrobat-Bold';
    src: url('../fonts/Akrobat-Bold.eot');
    src: url('../fonts/Akrobat-Bold.woff2') format('woff2'),
         url('../fonts/hAkrobat-Bold.woff') format('woff'),
  }
  