<section class="wrapper">
	<div class="container margin-top margin-top-100">
		<div class="horizontal-center">
			<div class="grid-item">
			<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">About</h1>
				<p class="black size-24">
					Hand-crafted wax for skate, snow, and surf. Manufactured by a group of friends in a basement in downtown Sofia, Bulgaria. We are fortunate to have locations for skating, snowboarding, and surfing all within a few hours drive, which gives us the perfect testing grounds to experiment with our products. Do that curb or rail grind with ease. Don’t get stuck with your ski or snowboard on the flat parts of the slope. Stop slipping off your surfboard. Developed by riders, and trusted by hundreds, JWAX gives you all that. No matter if you are skateboarding, rollerblading, riding a scoot or BMX, surfing, snowboarding, or skiing JWAX is the essential wax to have fun. Grab some wax and shred as you’ve never shredded before.
				</p>
			</div>	
			<!-- <div class="grid-item">
				<img class="img-responsive" src="img/branding_top.png" alt="JWAX Skate Wax">
			</div> -->
		</div>
	</div>
</section>
