<section class="wrapper">
	<div class="container margin-top margin-top-100">
		<div class="horizontal-center">
			<div class="grid-item">
			<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">About</h1>
				<p class="black size-24">
					Hello, and welcome to a brief overview of our history, story, and mission. Enjoy&nbsp;🤟.
				</p>
			</div>	
		</div>
	</div>

	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Where It All Began</h2>
				<p class="black size-24">
					Picture this: a band of shredders chillin' in a basement in Sofia, Bulgaria, having laughs and suddenly coming up with the idea of a game-changer that lets them own every skate sesh, killing the snow parks, and ruling the waves. That my G’s, is how JWAX was born! We crafted an epic piece of art-shaped wax that has been changing the game for riders everywhere since day one.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Our Vibe and What Drives Us</h2>
				<p class="black size-24">
					Dude, we're all about living for those sick tricks moments. The JWAX fam believes in pushing the limits, staying true to our roots, and keeping our passion alive. In a fake world, we stay real.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">The secret sauce</h2>
				<p class="black size-24">
					The playground right outside our doorstep, perfect for testing and tweakin' our formula for the sickest wax you'll ever find.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Different sports. One wax.</h2>
				<p class="black size-24">
					What about our off-the-wall epic mission? 
					See, we're not just about crafting that dope wax but we're about breaking down barriers and merging lanes. Skateboarders, rollerbladers, BMX riders, freestyle scooter guys, snow chasers, and wave riders – we're here to bring all you legends together.
					To us, it doesn't matter what sport you're into, it's all about the ride. Whether skating the urban jungle, hitting the snowy peaks, or catching the biggest wave, it's the rush, the freedom, and the sheer joy that tie us all together.
					So, our mission? To unite all riders under one gnarly banner: 
					The love of the ride.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Riding for a Cause</h2>
				<p class="black size-24">
					Well, it ain't just for fun and the rad times. Sometimes shit happens. When you shred with JWAX, you're not only leveling up your game – you're helping us kick cancer's butt and change lives, one ride at a time. Now, that's the sickest way to make your mark on this world, don't you think? Together, we'll ride for the cause and fight breast cancer like the badass champs we are.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Shoutouts and High Fives</h2>
				<p class="black size-24">
					Mad respect to all the riders worldwide, local heroes, and fellow shredders.. Seriously, we can't thank y’all enough!
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">The real "about us"</h2>
				<p class="black size-24">
					We are a few friends hitting the spots since 1996 who turned out to be wax-makers to pass the passion of street sports to the youngsters hitting the spots right now. Our crew ain't some randoms - we're a tight-knit fam that lives, breathes, and shred big together.
				</p>
			</div>	
		</div>
	</div>
	<div class="container margin-top margin-top-60">
		<div class="horizontal-center">
			<div class="grid-item">
				<!-- <div class="x-symbol"></div> -->
				<h2 class="black size-36 uppercase">Grab Your Wax </h2>
				<p class="black size-24">
					And leave the mark on your playground. JWAX is your ticket to a whole new world of stoke.
					This is it, peeps - the wax you've been looking for, made by riders for riders. 
					You in? Let's make some magic happen. It's JWAX!
				</p>
			</div>	
		</div>
	</div>


			<!-- <div class="grid-item">
				<img class="img-responsive" src="img/branding_top.png" alt="JWAX Skate Wax">
			</div> -->
</section>
