<section class="container">
	<div class="row">
			<div class="col col--6-of-12 col col--centered">
				<img src="img/april_fools.jpg" style="width:100%; margin-top:40px;" alt="April Fools">
		</div>
	</div>

	<div class="col col--6-of-12 col col--centered" style="margin-top:40px;">
		<div class="pbox">
			<h2 class="text_case">THE FIRST EVER ALL IN ONE WAX ON EARTH!</h2>
			<p><br>SKATE SNOW AND SURF WAX in this very beautiful shape.</p>
			<p>
			<br>	What you see now is a uniqe product that we have created and developed
particularly for 1st of April.
Happy April Fools' Day everybody.
			</p>
			<p><br>Check our full range of products <a href="products.html" class="links">here</a> and grab your favourite wax.</p>
		</div>
	</div>
</section>
