	<section class="container-fluid wrapper">
<!-- SINGLE PACK -->
<div class="row hdrspc">
	<div class="col col--12-of-12">
		<h1 class="white">SINGLE PACK WAX BUNDLES</h1>
	</div>
</div>

		<div class="row">

			<div class="col col--4-of-12">
				<div class="pbox">
						<img class="img-responsive productshots" src="img/products/blackfriday/3xskate.png" alt="3 x Skate wax deal">
						<h2 class="capitalize white">3 x Skate wax</h2><br>
						<p class="white">
						 3 single packs of skate wax.
						</p>
						<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">17,07</span> <strong>14,07€</strong></p><br><br>
						<div id='product-component-1637871578706'></div>
					</div>

			</div>

				<div class="col col--4-of-12">
					<div class="pbox">
							<img class="img-responsive productshots" src="img/products/blackfriday/7xskate.png" alt="7 x Skate wax deal">
							<h2 class="capitalize white">7 x Skate wax</h2><br>
							<p class="white">
							 7 single skate wax packs at the price of 5. Two packs for free. <br><strong>SAVE BIG.</strong>
							</p>
							<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">39,83</span> <strong>28,45€</strong></p><br><br>
							<div id='product-component-1637871962705'></div>
						</div>
					</div>

				<div class="col col--4-of-12">
					<div class="pbox">
							<img class="img-responsive productshots" src="img/products/blackfriday/9xskate.png" alt="9 x Skate wax deal">
							<h2 class="capitalize white">9 x Skate wax</h2><br>
							<p class="white">
							9 single skate wax packs at the price of 6. 3 packs for free. <br><strong>BEST DEAL.</strong>
							</p>
							<<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">51,21</span> <strong>34,14€</strong></p><br><br>
							<div id='product-component-1637872191572'></div>
						</div>
				</div>

			</div>


<!-- SAVOSIN PACK -->
				<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1 class="white">SINGLE PACK SAVOSIN PRO WAX BUNDLES</h1>
					</div>
				</div>

				<div class="row">

					<div class="col col--4-of-12">
						<div class="pbox">
								<img class="img-responsive productshots" src="img/products/blackfriday/3xskate-Savosin.png" alt="3 x Savosin pro skate wax deal">
								<h2 class="capitalize white">3 x SAVOSIN PRO SKATE WAX</h2><br>
								<p class="white">
								3 single packs of Ilia Savosin PRO skate wax.
								</p>
								<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">20,97</span> <strong>17,97€</strong></p><br><br>
								<div id='product-component-1637872333672'></div>
							</div>

					</div>

						<div class="col col--4-of-12">
							<div class="pbox">
									<img class="img-responsive productshots" src="img/products/blackfriday/5xskate-Savosin.png" alt="5 x Savosin pro skate wax deal">
									<h2 class="capitalize white">5 x SAVOSIN PRO + 2 SKATE WAX</h2><br>
									<p class="white">
									5 single Savosin PRO skate wax packs + 2 classic packs for free. <br><strong>SAVE BIG.</strong>
									</p>
									<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">46,33</span> <strong>34,33€</strong></p><br><br>
									<div id='product-component-1637872449717'></div>
								</div>
							</div>

						<div class="col col--4-of-12">
							<div class="pbox">
									<img class="img-responsive productshots" src="img/products/blackfriday/6xskate-Savosin.png" alt="6 x Savosin pro skate wax deal">
									<h2 class="capitalize white">6 x SAVOSIN PRO + 3 SKATE WAX</h2><br>
									<p class="white">
									6 single Ilia Savosin PRO wax packs + 3 classic packs for free. <br><strong>BEST DEAL.</strong>
									</p>
									<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">59,01</span> <strong>41,01€</strong></p><br><br>
									<div id='product-component-1637872614516'></div>
								</div>
						</div>

					</div>


<!-- COMBO SNOW AND SKATE-->
				<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1 class="white">SINGLE PACK SNOW AND SKATE WAXES BUNDLE</h1>
					</div>
				</div>

				<div class="row">

					<div class="col col--4-of-12">
						<div class="pbox">
								<img class="img-responsive productshots" src="img/products/blackfriday/2xsnow2xskate.png" alt="2 x Snow wax + 2 x Skate wax deal">
								<h2 class="capitalize white">Snow + Skate waxes</h2><br>
								<p class="white">
								2 single packs snow wax + 2 single packs skate wax. <br><br>

								<!-- Buy 2 single packs snow waxes and 2 single packs skate waxes and get 1 single pack snow wax and 1 single pack skate wax for free. -->
								</p>
								<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">28,36</span> <strong>19,99€</strong></p><br><br>
								<div id='product-component-1637872712205'></div>
							</div>

					</div>

					</div>

<!-- Tee DEALS-->
					<div class="row hdrspc">
						<div class="col col--8-of-12">
							<h1 class="white">T-SHIRTS DEALS</h1>
						</div>
					</div>

					<div class="row">

						<div class="col col--4-of-12">
							<div class="pbox">
									<img class="img-responsive productshots" src="img/products/blackfriday/jwax_tee.png" alt="T-shirt deal">
									<h2 class="capitalize white">T-SHIRT</h2><br>
									<p class="white">
									T-shirt (XS, M).
									</p>
									<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">12,89</span> <strong>8,89€</strong></p><br><br>
									<div id='product-component-1637872985198'></div>
								</div>

						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
									<img class="img-responsive productshots" src="img/products/blackfriday/jwax_tee_plus_single_pack.png" alt="T-shirt + Single skate wax deal">
									<h2 class="capitalize white">T-SHIRT + Single Pack Skate wax</h2><br>
									<p class="white">
									T-shirt (XS, M) + single pack skate wax.
									</p>
									<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">18,58</span> <strong>12,58€</strong></p><br><br>
									<div id='product-component-1637873105064'></div>
								</div>

						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
									<img class="img-responsive productshots" src="img/products/blackfriday/jwax_tee_plus_double_pack.png" alt="T-shirt + Double skate wax deal">
									<h2 class="capitalize white">T-SHIRT + Double Pack Skate wax</h2><br>
									<p class="white">

									T-shirt (XS, M) + double pack skate wax. <br><strong>BEST DEAL.</strong>
									</p>
									<p class="price"><span style="color: #ffffff;">price: </span><span class="oldprice white">22,38</span> <strong>15,38€</strong></p><br><br>
									<div id='product-component-1637873218488'></div>
								</div>

						</div>

						</div>

<!-- SPECIAL DEALS -->
			<!--	<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1>SPECIAL DEALS</h1>

					</div>
				</div>

					 <div class="row">

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="t-shirt-ogwax.html">
								<img class="img-responsive productshots" src="img/products/JWAX_tee+OG_wax.jpg" alt="Grab your t-shirt together with a box of skating wax">
								</a>
								<h2 class="capitalize">JWAX t-shirt + OG skate wax</h2><br>
								<p>
								Limited quantities of the JWAX t-shirt and the classic box.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">21,88</span> <strong>14,89€</strong></p><br><br>
								<a class="product_links"href="t-shirt-ogwax.html">Details —</a>
							</div>
						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="t-shirt-skatewax.html">
								<img class="img-responsive productshots" src="img/products/JWAX_tee+skate_wax.png" alt="Grab your t-shirt together with a box of skating wax">
								</a>
								<h2 class="capitalize">JWAX t-shirt + skate wax</h2><br>
								<p>
								Combine the future and the classic. Get the JWAX t-shirt together with a piece of our NEW skate wax.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">18.38</span> <strong>14.89€</strong></p><br><br>
								<a class="product_links"href="t-shirt-skatewax.html">Details —</a>
							</div>
						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="ogskatewax.html">
								<img class="img-responsive productshots" src="img/products/Jwax_ogskatewax.jpg" alt="OG Skate wax">
								</a>
								<h2 class="capitalize">JWAX OG Skate wax</h2><br>
								<p>
								No more. Grab the history with the last OG skate waxes. 2 in the box. Limited quantities.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">8.99</span> <strong>6,99€</strong></p><br><br>
								<a class="product_links"href="ogskatewax.html">Details —</a>
							</div>
						</div>

					</div> -->


	</section>
