<section class="container">
	<div class="row">
		<div class="col col--5-of-12 col col--centered">
			<h3><span class="currentstep">step 2</span>/2<br> Payment</h3>
		</div>

	</div>
	<div class="row">
		<div class="col col--5-of-12 col col--centered">
			<h2>Payment Options</h2>
				<!-- <p>Credit/Debit Card</p>
				<p>Wiretransfer</p>
				<p>Paypal</p> -->
				<form id="detailsform" method="POST">
					<!-- <label for="contact-name">Card Holder</label> -->
					<input type="text" name="name" placeholder="Card Holder" required class="name">
					<!-- <label for="contact-name">Card Number</label> -->
					<input type="text" name="name" placeholder="Card Number" required class="lastname">
					<!-- <label for="contact-name">MM</label> -->
					<select type="text" name="name" required class="mm">
						<option value="false">MM</option>
						<option value="1">01</option>
						<option value="1">02</option>
						<option value="1">03</option>
						<option value="1">04</option>
						<option value="1">05</option>
						<option value="1">06</option>
						<option value="1">07</option>
						<option value="1">08</option>
						<option value="1">09</option>
						<option value="1">10</option>
						<option value="1">11</option>
						<option value="1">12</option>
					</select>
					<select type="text" name="name" required class="yy">
						<option value="false">YY</option>
						<option value="1">18</option>
						<option value="1">19</option>
						<option value="1">20</option>
						<option value="1">21</option>
						<option value="1">22</option>
						<option value="1">23</option>
						<option value="1">24</option>
						<option value="1">25</option>
						<option value="1">26</option>
						<option value="1">27</option>
						<option value="1">28</option>
						<option value="1">29</option>
					</select>
					<!-- <label for="contact-name">CVV</label> -->
					<input type="text" name="name" placeholder="CVV" required class="cvv">
				</form>
		</div>
	</div>
<div class="row">
	<div class="col col--5-of-12 col col col--centered">
			<h2>Review Your Order</h2>
				<table>
				<tr>
					<td>
						<p>shipping to:</p>
					</td>
					<td colspan="2">
						<p>Lyudmil Dachev</p>
						<p>F. Nansen 43</p>
						<p>1000 Sofia,</p>
						<p>Bulgaria</p>
					</td>

					</tr>
						<td>
							<img class="orderthumb" src="img/order_thumb.png">
						</td>
						<td>
							<p class="flcls flcls_b">quantity: 3&nbsp;x&nbsp;9&nbsp;&euro;</p>
						</td>
						<td><p class="amount"><strong>27&nbsp;&euro;</strong></p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><p class="shipping">Shipping</p><br>
						</td>
						<td><p class="amount"><strong>2,50&nbsp;&euro;</strong></p></td>
					</tr>
					<tr>

						<td colspan="2"><p class="amount"><strong>Total</strong></p></td>
						<td><p class="amount"><strong>29,50&nbsp;&euro;</strong></p></td>
					</tr>
				</table>
				<p class="information">*One package contains two peaces of wax. <strong>/230g./</strong></P>
				<p class="information">*Shipping is calculated based on destination.</p>
	</div>
</div>
</div>
	<div class="row">
		<div class="col col--5-of-12 col col col--centered">
			<a href="congrats.html" class="buybtn">Complete order</a>
		</div>
	</div>
</section>
