<section class="wrapper">
	<div class="container margin-top margin-top-100">
		
			<div class="grid-item hidedesktop">
				<div class="slideshow-container-wrapper">
					<div class="slideshow-container">

						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-1.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-2.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-3.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-4.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-5.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/caps/caps-6.png">
						</div>

					</div>
				</div>
			</div>

		<div class="grid-2-product">	
			
			<div class="grid-item hidesmall">
				<div class="grid-2 grid-small-gap">

					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-1.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-2.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-3.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-4.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-5.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/caps/caps-6.png" alt="JWAX 5 panel snapback hat">
						</div>
					</div>

				</div>
			</div>

			<div class="grid-item">
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="modalclose"><button class="btnmodalclose">&times;</button></span>
						<img class="img-responsive" src="img/products/caps/caps-1.png" alt="panel snapback hat">
						<img class="img-responsive" src="img/products/caps/caps-2.png" alt="panel snapback hat">
						<img class="img-responsive" src="img/products/caps/caps-3.png" alt="panel snapback hat">
						<img class="img-responsive" src="img/products/caps/caps-4.png" alt="panel snapback hat">
						<img class="img-responsive" src="img/products/caps/caps-5.png" alt="panel snapback hat">
						<img class="img-responsive" src="img/products/caps/caps-6.png" alt="panel snapback hat">
					</div>
				</div>

				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">SKATE CAP</h1>

				<p class="black"><span class="font-weight-black">| 5 panel snapback hat |</span></p><br>
				<p class="black size-20">
          The perfect hat for any occasion. Jwax Snapback is here.
          <br><br>
          Whether you're going out at night or cruising the hood on your daily missions, we got your style
          covered. A small front logo and stitched boobie pattern on the back to let everyone know
          you're part of the fam and you're not afraid to have serious fun.
          This hat will fit only the bigger-sized caps fans.
          <br><br>
          The Jwax 5 panel snapback comes at affordable price, in limited quantities, and different colors to
          match your look and style.
				</p>
        <br><br>
				<p class="black font-weight-black size-28">12,99€</p>
				<div id='product-component-1656451641320'></div>
				<p class="margin-top margin-top-60 size-16">WE ACCEPT RETURNS. READ THE <a class="links" href="returnandrefundpolicy.html" rel="nofollow">RETURN AND REFUND POLICY</a>.</p>


				<!-- <div class="margin-top margin-top-20">
					<button class="collapsible">FAQ</button>
					<div class="content">

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Who is this for?</h3><br>
								<p class="size-20">JWAX fits perfect in the hands of: Surfers and surfboarders. Bodyboarders and Skimboarders.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Anything else?</h3><br>
								<p class="size-20">Completely natural and eco-friendly thus will not impact the environment. Use as much as you want with confidence and clear conscious.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">How to use the snow wax?</h3><br>
								<p class="size-20">Top up your surfboard with desired amount of JWAX surf wax every time you get on your board until you get that grip. However one quick fix waxing should last at least a couple of sessions depending on the water temperature. On yearly base You should remove the old wax from your surfboard and rub a new surf wax around every 3-4 months. In warm waters this procedure may repeat more often. Just rub on and we will do the rest.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">When to use surf wax?</h3><br>
								<p class="size-20">Always when you are surfing. If You notice that you are losing grip even after application of fresh surf wax during a session, probably it’s time to re-wax with a completely fresh wax.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">How big it is?</h3><br>
								<p class="size-20">Unlike the most waxes on market, our surf wax is BIG. 190g of finest mixture that will ergonomically fit in your hand and we are proud of it! If this is more than you need here is the  <a class="links" href="single_pack_surf_wax.html">single pack surf wax</a>.
								</p>
						</div>

							<div class="margin-top margin-top-40">
								<h3 class="size-28 font-weight-black uppercase">Story behind?</h3><br>
									<p class="size-20">A few hours driving from Sofia is the black sea with very hot summers and even hotter people. No way to miss the chance for some sexy shaped surf wax, right? It took us a few years but we finally developed the warm water surf wax in top shape.
									</p>
							</div>

							<div class="margin-top margin-top-40">
								<h3 class="size-28 font-weight-black uppercase">Warranty and shipping?</h3><br>
								<p class="size-20">You can return your surf wax even used if you are not happy with the final results. You can find full information in the <a class="links" href="shippingpolicy.html">shipping</a> and <a class="links" href="Returnandrefundpolicy.html">return policy</a>. Shipping worldwide.
								</p>
							</div>

					</div>

							<button class="collapsible">Reviews</button>
								<div class="content">
									<p class="size-20">Best wax ever!</p>
								</div>

				</div>	 -->

				<div class="margin-top margin-top-20">
					<div class="cancer-banner horizontal-center">
						<p class="black size-16">
							Join our good cause and support the breast cancer fight by leaving a tip at checkout. 
							All donations go to breast cancer charity foundations worldwide.
						</p>		
				</div>
			</div>

		</div>
	</div>
</section>
