	<section class="container-fluid wrapper">
	<div id="formsucces">
		<div class="row">
				<div class="col col--12-of-12">
					<div class="cbox">
						<h1>Hello, Friend!</h1>
						<p>
							Want to say hi? Have anything else
							in mind?<br>Use the form.
							You can also
							reach us at:<br><a href="mailto:hello@jwax.wtf" target="_top" class="links">hello@jwax.wtf</a>,
							<a href="https://www.facebook.com/jwaxwtf/" class="links">Facebook</a> or
							<a href="https://www.instagram.com/jwaxsofia/" class="links">Instagram</a>
						</p>
					</div>
				</div>
			</div>



		<div class="row">
			<div class="col col--12-of-12">
				<form id="contactform" action="https://formspree.io/f/xyybajld" method="POST">
					<!-- <label for="contact-name">Name</label> -->
				  <input type="text" name="name" placeholder="Name" required>
					<!-- <label for="contact-email">email</label> -->
				  <input type="text" name="_replyto" placeholder="Email" required>
					<input type="hidden" name="_subject" value="Website Form" />
					<input type="hidden" name="_next" value="thankyou.html" />
					<!-- <label for="contact-message">message</label> -->
					<textarea name="message" placeholder="Message" rows="7" cols="10"></textarea>
					<input type="text" name="_gotcha" class="personalinfo" />
					<button class="submit btnfix" id="button" type="submit" value="Send">Send it</button>
				</form>
			</div>
		</div>

</div>

	<div class="container">
		<div class="row">
			<div class="col col--12-of-12">
				<div id="status">
				</div>
			</div>
		</div>
	</div>


	<div id="status" class="container">
		<div class="row thnks_contact" id="thnks">
				<div class="col col--12-of-12 col col--centered" style="max-width: 476px;">
					<img src="img/gotit.svg" style="width:100%" alt="Thank You">
			</div>
		</div>
	</div>

	</section>
