<section class="wrapper">
	<div class="container margin-top margin-top-100">
		
			<div class="grid-item hidedesktop">
				<div class="slideshow-container-wrapper">
					<div class="slideshow-container">

						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-wax.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-img.png">
						</div>
    
					</div>
				</div>
			</div>
			
		<div class="grid-2-product">

			<div class="grid-item hidesmall">
				<div class="grid-2 grid-small-gap">

					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack.png" alt="JWAX Skate Wax">
					</div>

					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-wax.png" alt="JWAX Skate Wax">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-img.png" alt="JWAX Skate Wax">
						</div>
					</div>

				</div>
			</div>

			<div class="grid-item">
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="modalclose"><button class="btnmodalclose">&times;</button></span>
						<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack.png" alt="JWAX Skate Wax">
						<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-wax.png" alt="JWAX Skate Wax">
						<img class="img-responsive" src="img/products/skate-wax/skate-wax-savosin-pro-double-pack-img.png" alt="JWAX Skate Wax">
					</div>
				</div>

				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">SAVOSIN PRO SKATE WAX</h1>

				<p class="black"><span class="font-weight-black">| double pack 190g |</span></p><br>
				<p class="black size-20">
          Excited to present our new first-ever pro skate wax - JWAX Ilia Savosin signature skatewax.
Savosin's favorite wax for skating to hit the spots so hard and make fun of everything now goes light purple and red. Tropical fruits smell and brass knuckles Savosin's signature logo complete this sickness making you wonder what's going on here just like his skating. The best skate wax for butter smooth rail and ledge grinds inspired and colored by Ilia Savosin.
With every Savosin skate wax order from our site or any skate shop, you are directly supporting Ilia and rollerblading in general. Now show some love and roll.
All double packs come with a free JWAX stickers.
Weight: 190g / 6.70 oz.
				</p>
        <br><br>
				<p class="black font-weight-black size-28">10,99€</p>
				<div id='product-component-1631973119082'></div>
				<p class="margin-top margin-top-60 size-16">IF YOU ARE NOT HAPPY WITH YOUR SKATE WAX WE WILL ACCEPT RETURNS EVEN ON USED PRODUCTS. 100% REFUND. NO QUESTION ASKED. READ THE <a class="links" href="returnandrefundpolicy.html" rel="nofollow">RETURN AND REFUND POLICY</a>.</p>

				<div class="margin-top margin-top-20">
					<button class="collapsible">FAQ</button>
					<div class="content">
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">WHO IS THE SAVOSIN SKATE WAX FOR?</h2><br>
								<p class="size-20">Savosin double pack skate wax fits perfectly in the hands of rollerbladers and inline skaters who skate and grind daily. For open minded people who want to have fun with a skating wax of the finest quality.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">DO I NEED SKATE WAX?</h2><br>
								<p class="size-20">If you love (or if you want to learn) doing grinds and slides, then yes, you need to wax your rail and ledges to nail your tricks with ease.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">HOW TO USE SKATE WAX?</h2><br>
								<p class="size-20">Apply small amount of JWAX skate wax on the curb, ledge or rails which you want to grind or slide. You will need more wax if they are virgin or rough. Our skate wax performance does not depend on the environment temperatures however you could press harder when waxing in temperatures close to zero and apply light pressure when waxing in hot weather. IMPORTANT: Be careful with inclined or kink rails as they may get TOO FAST.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">WHY I NEED SKATE WAX?</h2><br>
								<p class="size-20">If the curbs, ledges or rails do not slide well or if you want the smoothest grinds, our skate wax will help you get the butter smooth grinds while having good fun when using it. Designed to fit naturally in your hand it’s the ultimate skate wax for skateboarding, rollerblading or inline skating, scooter and bmx riding. It won't be no wrong to say it’s the best skatepark and street skating wax period. Confirmed and guaranteed by our <a class="links" href="team.html" rel="nofollow">team.</a>
									
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">HOW BIG IT IS?</h2><br>
								<p class="size-20">They are BIG! Our double skate wax comes in a pair of 190g for pure skating experience. You can wax as much as you want as they will ergonomically fit in your hand. If it’s too much check the <a class="links" href="single_pack_skate_wax_savosin.html">Savosin single pack skate wax</a>.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">ANYTHING ELSE?</h2><br>
								<p class="size-20">Oh, you can wax your laces too. If you are a waxed laces type of guy. Yes, it works. No joke.
								</p>
						</div>
	
							<div class="margin-top margin-top-40">
								<h2 class="size-28 font-weight-black uppercase">IMPORTANT</h2><br>
								<p class="size-20">Some skateparks have special politics regarding the usage of skate waxes on their territory. Make sure to check if you are allowed to use skate wax in the skatepark and where exactly. Find out more on our <a class="links" href="FAQ.html" rel="nofollow">FAQs</a> page.
								</p>
							</div>
	
					</div>
	
					<!-- <button class="collapsible">Reviews</button>
						<div class="content">
							<p class="size-20">Best wax ever!</p>
						</div> -->
				</div>

			<div class="margin-top margin-top-20">
				<div class="cancer-banner horizontal-center">
					<p class="black size-16">
						Join our good cause and support the breast cancer fight by leaving a tip at checkout. 
						All donations go to breast cancer charity foundations worldwide.
					</p>		
				</div>
			</div>

			</div>

		</div>
	</div>
</section>
