	<section class="container-fluid wrapper">

		<div class="row hdrspc-m">
			<div class="col col--6-of-12">

				<div class="slideshow-container-wrapper">
				  <div class="slideshow-container">
						<div><img class="mySlides" style="width: 100%" src="img/products/sliders/Snow_wax_double__sider1.jpg"></div>
						<div><img class="mySlides" style="width: 100%" src="img/products/sliders/Snow_wax_double__sider2.jpg"></div>
					</div>

					<div style="text-align:center; position: relative;">
						<a class="prev" onclick="prevSlide()">&#10094;</a>
						<span class="dot active" onclick="goToSlide(0)"></span>
						<span class="dot" onclick="goToSlide(1)"></span>
						<!-- <span class="dot" onclick="goToSlide(2)"></span> -->
						<a class="next" onclick="nextSlide()">&#10095;</a>
					</div>
				</div>

		</div>

			<div class="col col--6-of-12">
				<div class="pbox pboxreset">
					<h1>SNOWBOARD AND SKI WAX</h1>
					<h2>double pack</h2><br>
					<p>
						Winter is coming with the unique JWAX blue nipple. We gave our naughty snow wax an updated fresh look and mixed even better NEW formula that slides exceptionally well on warmers snow days. Great for snow parks, jibbing or hitting the street spots. Also worth to give it a try in the mountains when your ironed wax can’t do the job. Hot or cold snow wax – it’s a wax that works!

					</p>
					<p class="price"><span style="color: #1a1a1a;">price: </span><strong>14,89€</strong></p>
					<div id='product-component-1620219197906'></div>
				</div>
			</div>

		</div>
	</section>
<section class="container-fluid product_faq_box">
		<div class="row">
			<div class="col col--12-of-12">

				<div class="scndbox">
					<div class="pbox">

						<div class="product_faq">
							<h3>Who is this for?</h3><br>
								<p>JWAX fits perfect in the hands of: Street and Freestyle skiers and snowboarders. People who prefer on the spot quick fix. Or those who are not servicing or waxing their equipment regularly. Snow enthusiasts with different sets of skies and snowboards for different conditions. People who want to have fun with a snow wax of the finest quality.
								</p>
						</div>

						<div class="product_faq">
							<h3>Anything else?</h3><br>
								<p>You can also hot iron it. Will last longer on the ski or snowboard base. <strong>HINT:</strong> Always apply snow wax on your skis or snowboard base after the winter season to keep your equipment in good shape for the next one.
								</p>
						</div>

						<div class="product_faq">
							<h3>How to use the snow wax?</h3><br>
								<p>Rub on the desired amount of JWAX snowboard and ski wax to cover your base. You will need more wax if the snow is fresh or rough. One quick fix waxing will last about 2-3 runs depending on the track length and snow conditions before you notice a slowdown. If used on street or snow parks you can even wax the rails for those smoothest slides. Waxing a snowboard and skis has never been so easy and fun. You can also hot iron snow wax when at home or at the service station.
								</p>
						</div>

						<div class="product_faq">
							<h3>When to use snow wax?</h3><br>
								<p>If You notice that you are losing speed or even stopping way before your snow buddies, especially on more even surface it’s worth to give our wax a try so you don’t get stuck in the snow. Note that it works best in warmer temperatures above -5˚C/23˚F.
								</p>
						</div>

						<div class="product_faq">
							<h3>How big it is?</h3><br>
								<p>Unlike the most waxes on the market, our skate wax is BIG. 190g of finest mixture that will ergonomically fit in your hand and we are proud of it! If this is more than you need here is the <a class="links" href="single_pack_snow_wax.html.html">single pack snow wax</a>.
								</p>
						</div>

							<div class="product_faq">
								<h3>Story behind?</h3><br>
									<p>Sofia is the only European capital located 30 minutes drive from a ski resort where we've been testing our wax. Despite we are all rolling in the summer, we also love winters so we decided to develop an easy and fun to use product matching the highest standards in the industry. JWAX is designed to fit in your hand to give you that snow waxing pleasure.
									</p>
							</div>

							<div class="product_faq">
								<h3>Warranty and shipping?</h3><br>
								<p>You can return your snow wax even used if you are not happy with the final results. You can find full information in the <a class="links" href="shippingpolicy.html">shipping</a> and <a class="links" href="Returnandrefundpolicy.html">return policy</a>. Shipping worldwide.
								</p>
							</div>

					</div>
				</div>

			</div>
		</div>

	</section>
