<section class="wrapper">
	<div class="container margin-top margin-top-100">
	
			<div class="grid-item hidedesktop">
				<div class="slideshow-container-wrapper">
					<div class="slideshow-container">

						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/skate-wax/skate-wax-double-pack.png">
						</div>
					
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/skate-wax/skate-wax-double-pack-wax.png">
						</div>

					</div>
				</div>
			</div>

			<div class="grid-2-product">

			<div class="grid-item hidesmall">
				<div class="grid-2 grid-small-gap">

					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/skate-wax/skate-wax-double-pack.png" alt="JWAX Skate Wax">
					</div>

					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/skate-wax/skate-wax-double-pack-wax.png" alt="JWAX Skate Wax">
						</div>
					</div>

				</div>
			</div>

			<div class="grid-item">
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="modalclose"><button class="btnmodalclose">&times;</button></span>
						<img class="img-responsive" src="img/products/skate-wax/skate-wax-double-pack.png" alt="JWAX Skate Wax">
						<img class="img-responsive" src="img/products/skate-wax/skate-wax-double-pack-wax.png" alt="JWAX Skate Wax">
					</div>
				</div>

				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">SKATE WAX</h1>

				<p class="black"><span class="font-weight-black">| double pack 190g |</span></p><br>
				<p class="black size-20">
					Bring your grinds on another level with this unique shaped skate wax. The double pack skate wax weighs 190g / 6.70oz. and brings BIG skating pleasure. We gave it an updated look and mixed even better NEW formula that slides extremely good on all kinds of surfaces like metal, plastic and any kind of curbs, rails and ledges. Our skate wax lasts long and is ideal for every skateboarder, rollerblader, scooter and BMX rider out there. Whatever and whenever you want to skate, our product just works!
					The double skate wax comes with free JWAX stickers. 
					
				</p><br><br>
				<p class="black font-weight-black size-24">9,49€</p>
				<div id='product-component-1620218998577'></div>
				<p class="margin-top margin-top-60 size-16">IF YOU ARE NOT HAPPY WITH YOUR SKATE WAX WE WILL ACCEPT RETURNS EVEN ON USED PRODUCTS. 100% REFUND. NO QUESTION ASKED. READ THE <a class="links" href="returnandrefundpolicy.html" rel="nofollow">RETURN AND REFUND POLICY</a>.</p>

				<div class="margin-top margin-top-20">
					<button class="collapsible">FAQ</button>
					<div class="content">
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">WHO IS THE SKATE WAX FOR?</h2><br>
								<p class="size-20">JWAX fits perfect in the hands of: Skateboarders, rollerbladers and inline skaters, scooter or BMX riders who live to skate and ride on daily basis. People who want to have fun with a skating wax of the finest quality.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">DO I NEED SKATE WAX?</h2><br>
								<p class="size-20">If you love (or if you want to learn) doing grinds and slides, then yes, you need to wax your rail and ledges to nail your tricks with ease.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">HOW TO USE SKATE WAX?</h2><br>
								<p class="size-20">Apply small amount of JWAX skate wax on the curb, ledge or rails which you want to grind or slide. You will need more wax if they are virgin or rough. Our skate wax performance does not depend on the environment temperatures however you could press harder when waxing in temperatures close to zero and apply light pressure when waxing in hot weather. IMPORTANT: Be careful with inclined or kink rails as they may get TOO FAST.
									Another option to use the skateboard wax is to apply a small amount under your board or scooter. But we would advise to use this method only in skateparks. 
									
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">WHY I NEED SKATE WAX?</h2><br>
								<p class="size-20">If the curbs, ledges or rails do not slide well or if you want the smoothest grinds, our skate wax will help you get the butter smooth grinds while having good fun when using it. Designed to fit naturally in your hand it’s the ultimate skate wax for skateboarding, rollerblading or inline skating, scooter and bmx riding. It won't be no wrong to say it’s the best skatepark and street skating wax period. Confirmed and guaranteed by our <a class="links" href="team.html" rel="nofollow">team.</a>
									
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">HOW BIG IT IS?</h2><br>
								<p class="size-20">Oh, boy! They are BIG! Our skate wax pair comes in 190g for pure skating experience. You can wax as much as you want as they will ergonomically fit in your hand, and we are proud of it! If it’s too much check the <a class="links" href="single_pack_skate_wax.html">single pack skate wax</a>.
								</p>
						</div>
	
						<div class="margin-top margin-top-40">
							<h2 class="size-28 font-weight-black uppercase">ANYTHING ELSE?</h2><br>
								<p class="size-20">Oh, you can wax your laces too. If you are a waxed laces type of guy. Yes, it works. No joke.
								</p>
						</div>
	
							<div class="margin-top margin-top-40">
								<h2 class="size-28 font-weight-black uppercase">IMPORTANT</h2><br>
								<p class="size-20">Some skateparks have special politics regarding the usage of skate waxes on their territory. Make sure to check if you are allowed to use skate wax in the skatepark and where exactly. Find out more on our <a class="links" href="FAQ.html" rel="nofollow">FAQs</a> page.
								</p>
							</div>
	
					</div>
	
					<!-- <button class="collapsible">Reviews</button>
						<div class="content">
							<p class="size-20">Best wax ever!</p>
						</div> -->
				</div>
	
				<div class="margin-top margin-top-20">
					<div class="cancer-banner horizontal-center">
						<p class="black size-16">
							Join our good cause and support the breast cancer fight by leaving a tip at checkout. 
							All donations go to breast cancer charity foundations worldwide.
						</p>		
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
