<section class="container-fluid wrapper">

		<div class="row hdrspc">
				<div class="col col--5-of-12 col col--centered">
					<div class="cbox">
						<h1>FAQ</h1>
							<h2>Can I use candle wax instead of <a href="single_pack_skate_wax.html" class="team-links">skate wax</a>?</h2>
							<p>
						You can always use candles оr other substitutes and alternatives when you run out of wax but they will not bring you the desired result. We at JWAX trully advise to use a professionally developed <a href="double_pack_skate_wax.html" class="links">skate wax</a> to get those smooth and stylish grinds with ease.
							</p>

							<div class="hdrspc"></div>
							<h2>Skate wax vs snow wax vs surf wax?</h2>
							<p>Can I use skate wax instead of surf or snow wax. NO. Simple as that. <a href="single_pack_skate_wax.html" class="links">Skate wax</a> is for skating, <a href="single_pack_snow_wax.html" class="links">snow wax</a> is for skiing and snowboarding and the <a href="single_pack_surf_wax.html" class="links">surf wax</a> is for surfing the waves. Different mixtures, different purposes.
							</p>

							<div class="hdrspc"></div>
							<h2>Can I use skate wax in the skatepark?</h2>
							<p>Some skateparks have special politics regarding the usage of skating waxes on their territory. Make sure to check if you are allowed to use skate wax in the skatepark and where exactly. Also let the other riders in the park know that you have waxed a specific spot in the skate park to prevent incidents. Some skaters and riders use very hard wheels which became super slippy when in contact with a wax. Let’s set a wax etiquette, show respect and have fun of what we are all doing there.
							</p>

					</div>
				</div>
			</div>
	</section>
