<section class="container-fluid wrapper">

		<div class="row hdrspc">
				<div class="col col--5-of-12 col col--centered">
					<div class="cbox">
						<h1>FAQ</h1>
							<h2>Can I use candle wax instead of <a href="products_inner_single_skate.html" class="team-links">skate wax</a>?</h2>
							<p>
						You can always use candles оr other substitutes and alternatives when you run out of wax but they will not bring you the desired result. We at JWAX trully advise to use a professionally developed <a href="products_inner_double_skate.html" class="links">skate wax</a> to get those smooth and stylish grinds with ease.
							</p>
							<div class="hdrspc"></div>
							<h2>Skate wax vs snow wax vs surf wax?</h2>
							<p>Can I use skate wax instead of surf or snow wax. NO. Simple as that. <a href="products_inner_single_skate.html" class="links">Skate wax</a> is for skating, <a href="/products_inner_single_snow.html" class="links">snow wax</a> is for skiing and snowboarding and the <a href="/products_inner_single_surf.html" class="links">surf wax</a> is for surfing the waves. Different mixtures, different purposes.
							</p>
					</div>
				</div>
			</div>
	</section>
