<footer class="wrapper">
	<div class="container">

		<p class="font-weight-black black">©&nbsp;2022&nbsp;JWAX&nbsp;CO&nbsp;</p>
			<a class="footerlinks black" href="privacypolicy.html">&nbsp;|&nbsp;Privacy&nbsp;Policy</a>
			<a class="footerlinks black" href="termsofuse.html">&nbsp;|&nbsp;Terms&nbsp;of&nbsp;Use</a>
			<a class="footerlinks black" href="shippingpolicy.html">&nbsp;|&nbsp;Shipping&nbsp;Policy</a>
			<a class="footerlinks black" href="Returnandrefundpolicy.html">&nbsp;|&nbsp;Return&nbsp;and&nbsp;Refund&nbsp;Policy</a>
			<a class="footerlinks black" href="https://www.facebook.com/jwaxwtf/">&nbsp;|&nbsp;Facebook</a>
			<a class="footerlinks black" href="https://www.instagram.com/jwaxsofia/">&nbsp;|&nbsp;Instagram</a>
			<a class="footerlinks black" href="https://www.tiktok.com/@jwax_official">&nbsp;|&nbsp;TikTok</a>
				
	</div>
</footer>

<script src="js/nav-min.js"></script>
<script src="js/modal-min.js"></script>
<script src="js/form-min.js"></script>
<script src="js/collapsible-min.js"></script>
<!-- slider -->
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/slick.min-min.js"></script>
<!-- <script async src="https://cdn.jsdelivr.net/npm/@finsweet/cookie-consent@1/fs-cc.js" fs-cc-mode="opt-in"></script> -->
<!-- slider end -->

	</body>
</html>
