<footer class="wrapper">
	<div class="container-fluid">
			<div class="row">
				<div class="col col--12-of-12">
					<p class="copyright white">©&nbsp;2021&nbsp;JWAX&nbsp;CO&nbsp;
						<!-- <a class="footerlinks white black" href="http://iam314.com">@Three&nbsp;One&nbsp;Four</a> -->
						<a class="footerlinks white black" href="privacypolicy.html">&nbsp;|&nbsp;Privacy&nbsp;Policy</a>
						<a class="footerlinks white black" href="termsofuse.html">&nbsp;|&nbsp;Terms&nbsp;of&nbsp;Use</a>
						<a class="footerlinks white black" href="products.html">&nbsp;|&nbsp;Store</a>
						<a class="footerlinks white black" href="shippingpolicy.html">&nbsp;|&nbsp;Shipping&nbsp;Policy</a>
						<a class="footerlinks white black" href="Returnandrefundpolicy.html">&nbsp;|&nbsp;Return&nbsp;and&nbsp;Refund&nbsp;Policy</a>
						<a class="footerlinks white black" href="https://www.instagram.com/jwaxsofia/">&nbsp;|&nbsp;Instagram</a>
						<a class="footerlinks white black" href="https://www.facebook.com/jwaxwtf/">&nbsp;|&nbsp;Facebook</a>
						<a class="footerlinks white black" href="contact.html">&nbsp;|&nbsp;Contact</a>
					</p>
				</div>
			</div>
	</div>
</footer>

<!-- hidden buy btn -->
<div id='product-component-1608699394284' style="display: none !important;"></div>

<div id='product-component-1608700360858' style="display: none !important;"></div>

<div id='product-component-1608700217782' style="display: none !important;"></div>

<div id='product-component-1610490395721' style="display: none !important;"></div>

<div id='product-component-1610490848091' style="display: none !important;"></div>

<div id='product-component-1620217732134' style="display: none !important;"></div>

<div id='product-component-1620218699637' style="display: none !important;"></div>

<div id='product-component-1620218998577' style="display: none !important;"></div>

<div id='product-component-1620219197906' style="display: none !important;"></div>

<div id='product-component-1620219436591' style="display: none !important;"></div>

<div id='product-component-1631973081405' style="display: none !important;"></div>

<div id='product-component-1631973119082' style="display: none !important;"></div>


<script type="text/javascript">
	/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
	function openNav() {
		document.getElementById("mySidenav").style.width = "100%";
		document.getElementById("main").style.marginLeft = "100px";
	}

	/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.marginLeft = "0";
	}
</script>
<script src="js/buttons-min.js"></script>

<!-- Photography by Ivaylo Mladenov -->

	</body>
</html>
