<section class="wrapper">
	<div class="container margin-top margin-top-100">
			<div class="horizontal-center">
				<div class="grid-item">
					

<section class="wrapper">
	<div class="row">
		<div class="container margin-top margin-top-100">
			<div class="horizontal-centr">
				<div class="grid-item"">
					<div class="x-symbol"></div>
					<h1 class="black size-92 uppercase">Gift cards policy</h1>
						<p class="black size-24">
							<br><br>
							<span class="font-weight-black">Validity:</span><br><br>
							The Gift Card is valid for a period of one (1) year from the date of purchase.<br><br>

							<span class="font-weight-black">Usage:</span><br><br>
							The Gift Card is valid for a single purchase only. Any remaining balance after the purchase + delivery will be forfeited and not carried forward for future purchases. Any amount above the gift card value will be charged additionally as in a standard purchase. E.g. Your gift card value is 50 eur and your final order amount is 55 eur then you should pay 5 euros at checkout.<br><br>

						
							<span class="font-weight-black">Redemption:</span><br><br>
							The Gift Card can be redeemed for products on our website within the specified validity period.<br><br>

					
							<span class="font-weight-black">Delivery:</span><br><br>
							Upon completion of the purchase, the customer will receive an email containing the Gift Card details. Please ensure that the provided email address is accurate to receive this information.<br><br>

					
							<span class="font-weight-black">Transferable:</span><br><br>
							The Gift Card is transferable and can be used by an individual different from the name associated with the purchase.<br><br>

					
							<span class="font-weight-black">Refunds:</span><br><br>
							Gift Card purchases are non-refundable.<br><br>

						
							<span class="font-weight-black">Lost or Stolen Cards or emails:</span><br><br>
							We are not responsible for lost or stolen Gift Cards. Please treat your Gift Card like cash.
							<br><br>
							
					
							<span class="font-weight-black">Combination with Other Offers:</span><br><br>Gift Cards cannot be combined with other promotional offers or discounts.
							<br><br>

							
							<span class="font-weight-black">Cancellation:</span><br><br>We reserve the right to cancel any Gift Card if we believe it was obtained fraudulently or used in violation of these terms.
							<br><br>

						For any questions or concerns regarding Gift Cards, please drop us a line. By purchasing and using the Gift Card, you agree to these terms and conditions.


						</p>
				</div>
			</div>	
		</div>
	</div>
</section>
