<nav class="container-fluid wrapper">
  <div class="row">
    <div class="col col--1-of-12 col--m-1-of-4 col--s-1-of-2">
      <a href="index.html" class="logo_b">Go Home</a>
    </div>
    <div class="col col--11-of-12 col--m-3-of-4 col--s-1-of-2">
      <span class="hamburger hidedesktop recolorblack" onclick="openNav()">☰</span>
			<ul class="topnav">
        <li><a href="products.html">Products</a></li>
        <li><a href="https://www.instagram.com/jwaxsofia/">Instagram</a></li>
				<li><a href="https://www.facebook.com/jwaxwtf/">Facebook</a></li>
        <li><a href="contact.html">Contact</a></li>
			</ul>
    </div>
	</div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="products.html">Products</a>
      <a href="https://www.instagram.com/jwaxsofia/">Instagram</a>
      <a href="https://www.facebook.com/jwaxwtf/">Facebook</a>
      <a href="contact.html">Contact</a>
    </div>

</nav>
