<nav class="container-fluid wrapper">
  <div class="row">
    <div class="col col--1-of-12 col--m-1-of-4 col--s-1-of-2">
      <a href="index.html" class="logo_w">Go Home</a>
    </div>
    <div class="col col--11-of-12 col--m-3-of-4 col--s-1-of-2">
      <span class="hamburger hidedesktop" onclick="openNav()">☰</span>
			<ul class="topnav">
        <li><a class="white black" href="https://jwaxsofia.bigcartel.com/products">Store</a></li>
        <li><a class="white black" href="https://www.instagram.com/jwaxsofia/">Instagram</a></li>
				<li><a class="white black" href="https://www.facebook.com/jwaxwtf/">Facebook</a></li>
        <li><a class="white black" href="contact.html">Contact</a></li>
			</ul>
    </div>
	</div>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="https://jwaxsofia.bigcartel.com/products">Store</a>
    <a href="https://www.instagram.com/jwaxsofia/">Instagram</a>
    <a href="https://www.facebook.com/jwaxwtf/l">Facebook</a>
    <a href="contact.html">Contact</a>
  </div>

</nav>
