		<!-- Surf wax		 -->

		<!-- <div class="container margin-top margin-top-80">
			<div class="grid-1">
				<div class="grid-item">
					<h1 class="black size-36 uppercase">Surf wax</h1>
				</div>	
			</div>
		</div> -->

		<div class="container margin-top margin-top-60">
			<div class="grid-4">

				<div class="grid-item">
					<a class="product-links" href="single_pack_surf_wax.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/surf-wax-single-pack.png" alt="surf wax product box single package">
						</div>
					</div>
					<h2 class="black size-28 line-height-150 uppercase">Surf wax</h2>
					<p class="black size-16"><span class="font-weight-black">| single pack 95g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">5,89€</p>
				</a>
				</div>

				<div class="grid-item">
					<a class="product-links" href="double_pack_surf_wax.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/surf-wax-double-pack.png" alt="surf wax product box double package">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase">Surf wax</h3>
					<p class="black size-16"><span class="font-weight-black">| double pack 190g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">9,89€</p>
				</a>
				</div>
			
			</div>
		</div>