	<section class="container-fluid wrapper">

		<div class="row">

				<div class="col col--4-of-12">
					<div class="pbox">
						<img class="img-responsive productshots" src="img/jwax_ski.jpg" alt="Ski wax">
						<h1>SKI WAX</h1><br>
						<p>
Snow wax for temperatures above -5˚C/23˚F.
Iron or rub directly on your board/ski for a quick fix.
Sofia is the only European capital located 30 minutes drive
from a ski resort where we've been testing our wax.
Winter is coming with a unique blue nipple.
						</p>
						<p class="price"><strong>17$ plus shipping</strong></p>
						<p class="notice"><strong>*One package contains two pieces of wax /230g./<br>
						Shipping is calculated on checkout.</strong></p>
						<a href="https://jwaxsofia.bigcartel.com/product/jwax-snow-wax"class="buybtn2 btnfix">Grab Now</a>
					</div>
				</div>

				<div class="col col--4-of-12">
					<div class="pbox">
						<img class="img-responsive productshots" src="img/jwax_skate.jpg" alt="Skate wax">
						<h1>SKATE WAX</h1><br>
						<p>
The best street wax period. It performs equally well on curbs and on rails.
We’ve been waxing the streets of Sofia since 1996.
In 2000 we began testing different blends of ingredients to
achieve the ideal formula which we recently decided to commercialise.
						</p>
						<p class="price"><strong>8.50$ plus shipping</strong></p>
						<p class="notice"><strong>*One package contains two pieces of wax /230g./<br>
						Shipping is calculated on checkout.</strong></p>
						<a href="https://jwaxsofia.bigcartel.com/product/skate-wax"class="buybtn2 btnfix">Grab Now</a>
					</div>
				</div>

				<div class="col col--4-of-12">
					<div class="pbox">
						<img class="img-responsive productshots" src="img/jwax_surf.jpg" alt="Surf wax">
							<h1>SURF WAX</h1><br>
							<p>
Biodegradable surf wax for warm water (temperatures between 18˚C/64.5˚F-25.5˚C/78˚F).
Ocean friendly and handmade from natural ingredients that preserve the coral
reef and sea life in general. Comes with a natural sun tan.
							</p>
							<p class="price"><strong>9$ plus shipping</strong></p>
							<p class="notice"><strong>*One package contains two pieces of wax /230g./<br>
							Shipping is calculated on checkout.</strong></p>
							<a href="https://jwaxsofia.bigcartel.com/product/jwax-surf-wax"class="buybtn2 btnfix">Grab Now</a>
					</div>
				</div>

			</div>

	</section>
