<!-- Snow wax -->

		<!-- <div class="container margin-top margin-top-80">
			<div class="grid-1">
				<div class="grid-item">
					<h1 class="black size-36 uppercase">SNOWBOARD AND SKI WAX</h1>
				</div>	
			</div>
		</div> -->

		<div class="container margin-top margin-top-60">
			<div class="grid-4">
				<div class="grid-item">
					<a class="product-links" href="single_pack_snow_wax.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/snow-wax-single-pack.png" alt="ski & snowboard wax product box single package">
						</div>
					</div>
					<h2 class="black size-28 line-height-150 uppercase products-title-reset-xs">Snow wax</h2>
					<p class="black size-16"><span class="font-weight-black">| single pack 95g |</span>
					</p>
					<p class="black font-weight-black size-20 margin-top margin-top-025 display-block">11.95€</p>
				</a>
				</div>
									
				<div class="grid-item">
					<a class="product-links" href="double_pack_snow_wax.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/snow-wax-double-pack.png" alt="ski and snowboar wax product box double package">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase products-title-reset-xs">Snow wax</h3>
					<p class="black size-16"><span class="font-weight-black">| double pack 190g |</span>
					</p>
					<p class="black font-weight-black size-20 margin-top margin-top-025 display-block">19.95€</p>
				</a>
				</div>
					
			</div>
		</div>

	