<!-- Accessories -->

		<!-- <div class="container margin-top margin-top-80">
			<div class="grid-1">
				<div class="grid-item">
					<h1 class="black size-36 uppercase">SKATE AND LIFESTYLE ACCESSORIES</h1>
				</div>	
			</div>
		</div> -->

		<div class="container margin-top margin-top-60">
			<div class="grid-4">

				<div class="grid-item">
					<a class="product-links" href="skate_caps.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/dad-caps.png" alt="white black and red skate hats">
						</div>
					</div>
					<h2 class="black size-28 line-height-150 uppercase products-title-reset-xs">JWAX CAPS</h2>
					<p class="black size-16"><span class="font-weight-black">| dad cap |</span>
					</p>
					<p class="black font-weight-black size-20 margin-top margin-top-025 display-block">10,99€</p>
				</a>
				</div>
						
				<div class="grid-item">
					<a class="product-links" href="caps.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/caps.png" alt="different colors snapback hats">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase products-title-reset-xs">JWAX CAPS</h3>
					<p class="black size-16"><span class="font-weight-black">| 5 panel snapback hat |</span>
					</p>
					<p class="black font-weight-black size-20 margin-top margin-top-025 display-block">12,99€</p>
				</a>
				</div>
						
				<div class="grid-item">
					<a class="product-links" href="t-shirt.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/pattern-tshirt.png" alt="white t-shirt with jwax pattern on the chest">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase products-title-reset-xs">JWAX t-shirt</h3>
					<p class="black size-16"><span class="font-weight-black">| t-shirt |</span>
					</p>
					<p class="black font-weight-black size-20 margin-top margin-top-025 display-block">12,89€</p>
				</a>
				</div>
						
			</div>
		</div>	
		

	