	<section class="container-fluid wrapper">

		<div class="row hdrspc-m">
			<div class="col col--6-of-12">

				<div class="slideshow-container-wrapper">
				  <div class="slideshow-container">
						<div><img class="mySlides" style="width: 100%" src="img/products/sliders/Jwax_og_skatewax_slider1.jpg"></div>						<!-- <div><img class="mySlides" style="width: 100%" src="img/products/sliders/Skate_wax_single__sider2.jpg"></div> -->
					</div>

					<div style="text-align:center; position: relative;">
						<a class="prev" onclick="prevSlide()">&#10094;</a>
						<span class="dot active" onclick="goToSlide(0)"></span>
						<!-- <span class="dot" onclick="goToSlide(1)"></span> -->
						<!-- <span class="dot" onclick="goToSlide(2)"></span> -->
						<a class="next" onclick="nextSlide()">&#10095;</a>
					</div>
				</div>

		</div>

			<div class="col col--6-of-12">
				<div class="pbox pboxreset">
					<h1>SKATE WAX</h1>
					<h2>classic pack</h2><br>
					<p>
						The classic skate wax in top shape. Proven in time. Now at discounted price in limited stock.
					</p>
					<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">8,99</span> <strong>6,99€</strong></p>
					<div id='product-component-1620218699637'></div>
				</div>
			</div>

		</div>
	</section>

	<!-- <section class="container-fluid product_faq_box">
			<div class="row">
				<div class="col col--12-of-12">

					<div class="scndbox">
						<div class="pbox">

							<div class="product_faq">
								<h3>Who is this for?</h3><br>
									<p>JWAX fits perfect in the hands of:
									Skateboarders who usually does not use wax that much.
									Rollerbladers, BMX or scooter riders who practice once or twice a week or less.
									People who want to have fun with a skating wax of the finest quality.
									</p>
							</div>

							<div class="product_faq">
								<h3>Anything else?</h3><br>
									<p>Oh, you can wax your laces too if you are waxed laces type of guy. Yes, it works. No joke.
									</p>
							</div>

							<div class="product_faq">
								<h3>How to use the skatewax?</h3><br>
									<p>Apply small amount of JWAX skate wax on the curbs, ledges or rails which you want to grind or slide. You will need more wax if they are virgin or rough. Important: Be careful with inclined or kink rails as they may get TOO FAST.
									</p>
							</div>

							<div class="product_faq">
								<h3>Why I need skate wax?</h3><br>
									<p>If the curbs, ledges or rails does not slide well or if you want the smoothest grinds, JWAX skate wax will help you grind with ease while having fun using it. Designed to fit in your hand it’s the ultimate skate wax for skateboarding, rollerblading or inline skating, scooter and bmx riding and will be no wrong to say it’s the best skatepark and street skating wax period. Confirmed and guaranteed by our <a class="links" href="team.html">team</a>.
									</p>
							</div>

							<div class="product_faq">
								<h3>How big it is?</h3><br>
									<p>Unlikely the most waxes on the market, our skate wax is BIG. 95g of finest mixture that will ergonomically fit in your hand and we are proud of it! If this is not enough here is the <a class="links" href="products_inner_double_skate.html"> double pack skate wax</a>.
									</p>
							</div>

								<div class="product_faq">
									<h3>Story behind?</h3><br>
										<p>We’ve been waxing the streets of Sofia since 1996. In 2000 we began testing different blends of ingredients to achieve the ideal formula which we recently decided to update and achieved even better sliding results.
										</p>
								</div>

								<div class="product_faq">
									<h3>Warranty and shipping?</h3><br>
									<p>You can return your skating wax even used if you are not happy with the final results. You can find full information in the <a class="links" href="shippingpolicy.html">sipping</a> and <a class="links" href="Returnandrefundpolicy.html">return policy</a>. Shipping worldwide.<br>

									Important: Some skateparks have special politics regarding the usage of skating waxes on their territory. Make sure to check if you are allowed to use skate wax in the skatepark and where exactly. Also let the other riders in the park know that you have waxed a specific spot in the skate park to prevent incidents. Some skaters and riders use very hard wheels which became super slippy when in contact with a wax. Let’s set a wax etiquette, show respect and have fun of what we are all doing there. Check out other <a class="links" href="FAQ.html">FAQs</a> here.
									</p>
								</div>

						</div>
					</div>

				</div>
			</div>

		</section> -->
