<!-- Skate Wax -->

		<!-- <div class="container margin-top margin-top-80">
			<div class="grid-1">
				<div class="grid-item">
					<h1 class="black size-36 uppercase">Skate wax</h1>
				</div>	
			</div>
		</div> -->

		<div class="container margin-top margin-top-60">
			<div class="grid-4">
				<div class="grid-item">
					<a class="product-links" href="single_pack_skate_wax.html">			
						<div class="product-wrapper">
							<div class="product-image">
								<img class="img-responsive" src="img/products/thumbs/skate-wax-single-pack.png" alt="skate wax product box single package">
							</div>
						</div>
					<h2 class="black size-28 line-height-150 uppercase">Skate wax</h2>
					<p class="black size-16"><span class="font-weight-black">| single pack 95g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">5,69€</p>
				</a>
				</div>

					<div class="grid-item">
					<a class="product-links" href="single_pack_skate_wax_savosin.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" class="img-responsive" src="img/products/thumbs/skate-wax-savosin-pro-single-pack.png" alt="Ilia Savosin pro skate wax product box single package">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase">Savosin pro skate wax</h3>
					<p class="black size-16"><span class="font-weight-black">| single pack 95g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">6,99€</p>
				</a>
				</div>			
				
				<div class="grid-item">
					<a class="product-links" href="double_pack_skate_wax.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/skate-wax-double-pack.png" alt="skate wax product box double package">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase">Skate wax</h3>
					<p class="black size-16"><span class="font-weight-black">| double pack 190g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">9,49€</p>
					</a>
				</div>
					
				<div class="grid-item">
					<a class="product-links" href="double_pack_skate_wax_savosin.html">
					<div class="product-wrapper">
						<div class="product-image">
							<img class="img-responsive" src="img/products/thumbs/skate-wax-savosin-pro-double-pack.png" alt="Ilia Savosin pro skate wax product box double package">
						</div>
					</div>
					<h3 class="black size-28 line-height-150 uppercase">Savosin pro skate wax</h3>
					<p class="black size-16"><span class="font-weight-black">| double pack 190g |</span>
					</p><br><br>
					<p class="black font-weight-black size-20">10,99€</p>
					</a>
				</div>

			</div>
		</div>	