	<section class="container-fluid wrapper">
<!-- SINGLE PACK -->
<div class="row hdrspc">
	<div class="col col--12-of-12">
		<h1>SINGLE PACK WAX</h1>
	</div>
</div>

		<div class="row">

			<div class="col col--4-of-12">
				<div class="pbox">
						<a class="single_p_link" href="single_pack_skate_wax.html">
						<img class="img-responsive productshots" src="img/products/skate_wax_singlepack.png" alt="single pack skate wax for skateboard, inline, scooter and bmx.">
						</a>
						<h2 class="capitalize">Skate wax</h2><br>
						<p>
						Single piece of our unique shaped skate wax. 95g of skating pleasure.
						</p>
						<p class="price"><span style="color: #1a1a1a;">price: </span><strong>5,49€</strong></p>
						<a class="product_links" href="single_pack_skate_wax.html">Details —</a>
					</div>

			</div>

				<div class="col col--4-of-12">
					<div class="pbox">
						<a class="single_p_link" href="single_pack_snow_wax.html">
						<img class="img-responsive productshots" src="img/products/snow_wax_singlepack.png" alt="single pack ski and skiing wax, snowboard wax">
						</a>
						<h2 class="capitalize">Snowboard and ski wax</h2><br>
						<p>
						One piece of naturally shaped snow wax. 95g of wax that works.
						</p>
						<p class="price"><span style="color: #1a1a1a;">price: </span><strong>8,49€</strong></p>
	 					<a class="product_links"href="single_pack_snow_wax.html">Details —</a>
					</div>
				</div>

				<div class="col col--4-of-12">
					<div class="pbox">
						<a class="single_p_link" href="single_pack_surf_wax.html">
						<img class="img-responsive productshots" src="img/products/surf_wax_singlepack.png" alt="single pack wax surf board">
						</a>
							<h2 class="capitalize">Surf wax</h2><br>
							<p>
							A piece of smooth and sexy shaped surf wax. 95g of wax that grip.
							</p>
							<p class="price"><span style="color: #1a1a1a;">price: </span><strong>5,89€</strong></p>
							<a class="product_links"href="single_pack_surf_wax.html">Details —</a>
					</div>
				</div>

			</div>
<!-- DOUBLE PACK -->
				<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1>DOUBLE PACK WAX</h1>
					</div>
				</div>

				<div class="row">

					<div class="col col--4-of-12">
						<div class="pbox">
							<a class="single_p_link" href="double_pack_skate_wax.html">
							<img class="img-responsive productshots" src="img/products/skate_wax_doublepack.png" alt="double pack skate wax for skateboard,inline, scooter and bmx.">
							</a>
							<h2 class="capitalize">Skate wax</h2><br>
							<p>
							Make them a pair? 2 pieces of skate wax to butter your rails and curbs. 190g to have.
							</p>
							<p class="price"><span style="color: #1a1a1a;">price: </span><strong>8,99€</strong></p>
							<!-- <div id='product-component-1608699394284'></div> -->
							<a class="product_links"href="double_pack_skate_wax.html">Details —</a>

						</div>
					</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="double_pack_snow_wax.html">
								<img class="img-responsive productshots" src="img/products/snow_wax_doublepack.png" alt="double pack ski and skiing wax, snowboard wax">
								</a>
								<h2 class="capitalize">Snowboard and ski wax</h2><br>
								<p>
								Share with a friend? 2 pieces of our lovely shaped snow wax. 190g will last forever.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><strong>14,89€</strong></p>
							 	<!-- <div id='product-component-1608700217782'></div> -->
				 				<a class="product_links"href="double_pack_snow_wax.html">Details —</a>
							</div>
						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="double_pack_surf_wax.html">
								<img class="img-responsive productshots" src="img/products/surf_wax_doublepack_n.png" alt="double pack wax surf board">
								</a>
									<h2 class="capitalize">Surf wax</h2><br>
									<p>
									Keep them all for you? 2 pieces of suntanned surf wax. 190g of full grip.
									</p>
									<p class="price"><span style="color: #1a1a1a;">price: </span><strong>9,89€</strong></p>
									<!-- <div id='product-component-1608700360858'></div> -->
									<a class="product_links"href="double_pack_surf_wax.html">Details —</a>
							</div>
						</div>

					</div>

<!-- CLOTHING -->
				<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1>CLOTHING</h1>
					</div>
				</div>

				<div class="row">
						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="t-shirt.html">
								<img class="img-responsive productshots" src="img/products/jwax_tee.jpg" alt="grab now our first ever JWAX T-shirt">
								</a>
								<h2 class="capitalize">JWAX t-shirt</h2><br>
								<p>
								Cover them with a shirt. Designed and driven by passion.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><strong>12,89€</strong></p><br><br>
			 					<a class="product_links"href="t-shirt.html">Details —</a>
							</div>
						</div>
					</div>

<!-- SPECIAL DEALS -->
				<div class="row hdrspc">
					<div class="col col--8-of-12">
						<h1>SPECIAL DEALS</h1>
					</div>
				</div>

					<div class="row">

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="t-shirt-ogwax.html">
								<img class="img-responsive productshots" src="img/products/JWAX_tee+OG_wax.jpg" alt="Grab your t-shirt together with a box of skating wax">
								</a>
								<h2 class="capitalize">JWAX t-shirt + OG skate wax</h2><br>
								<p>
								Limited quantities of the JWAX t-shirt and the classic box.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">21,88</span> <strong>14,89€</strong></p><br><br>
								<a class="product_links"href="t-shirt-ogwax.html">Details —</a>
							</div>
						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="t-shirt-skatewax.html">
								<img class="img-responsive productshots" src="img/products/JWAX_tee+skate_wax.png" alt="Grab your t-shirt together with a box of skating wax">
								</a>
								<h2 class="capitalize">JWAX t-shirt + skate wax</h2><br>
								<p>
								Combine the future and the classic. Get the JWAX t-shirt together with a piece of our NEW skate wax.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">18.38</span> <strong>14.89€</strong></p><br><br>
								<a class="product_links"href="t-shirt-skatewax.html">Details —</a>
							</div>
						</div>

						<div class="col col--4-of-12">
							<div class="pbox">
								<a class="single_p_link" href="ogskatewax.html">
								<img class="img-responsive productshots" src="img/products/Jwax_ogskatewax.jpg" alt="OG Skate wax">
								</a>
								<h2 class="capitalize">JWAX OG Skate wax</h2><br>
								<p>
								No more. Grab the history with the last OG skate waxes. 2 in the box. Limited quantities.
								</p>
								<p class="price"><span style="color: #1a1a1a;">price: </span><span class="oldprice">8.99</span> <strong>6,99€</strong></p><br><br>
								<a class="product_links"href="ogskatewax.html">Details —</a>
							</div>
						</div>

					</div>


	</section>
