<section class="container-fluid wrapper">


		<div class="row">
				<div class="col col--5-of-12 col col--centered">
					<div class="cbox">
						<h1>Return and refund policy</h1>
							<p>

								You can return your purchased product up to 30 days after receiving your item.<br><br>

								<strong>JWAX WILL ACCEPT RETURNS EVEN IF YOUR SURF, SNOW or SKATE WAX HAS BEEN USED!
								These returns will be approved ONLY if the wax was slightly used once or twice and you decide that our product does not work for you.
								PLEASE CONTACT US at <a href="mailto:hello@jwax.wtf" class="links">hello@jwax.wtf</a> and send picture of the used product before return for approval.
								Our product must be returned in its original undamaged packaging.
								</strong><br><br>

								To be eligible for returns, any other products (e.g clothing, apparel, accesories etc.) must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. <br>
								You’ll also need the receipt or proof of purchase (e.g shipment document) <br><br>

								To start a return procces, you can contact us at <a href="mailto:hello@jwax.wtf" class="links">hello@jwax.wtf</a>. If your return is accepted, we’ll send you a return shipping label, as well as instructions on how and where to send your package. <br>
								Items sent back to us without first requesting a return will not be accepted. <br><br>

								Return shipping is paid by the customer. The return shipping must be prepaid by the customer or will be deducted from the amount which has to be returned to the customer. <br>
								<strong>Please note that JWAX will not cover any shipping expenses.</strong><br><br>

								You can always contact us for any return question at <a href="mailto:hello@jwax.wtf" class="links">hello@jwax.wtf</a>. <br><br>

								<strong>Damages and issues</strong> <br><br>

								Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can evaluate the issue and make it right. <br><br>

								<strong>Exchanges</strong> <br><br>

								The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item. <br>
								All return and shipping costs are at the expense of the customer. <br><br>

								<strong>Refunds</strong> <br><br>

								We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. <br><br>
								If approved, you’ll be automatically refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund too.
								 <br><br>
							</p>
					</div>
				</div>
			</div>
	</section>
