<section class="container-fluid wrapper">


		<div class="row">
				<div class="col col--5-of-12 col col--centered">
					<div class="cbox">
						<h1>Shipping policy</h1>
							<p>
								We are doing our best to process and ship your order as soon as possible.
								Usually this means we will send your order on the same day or the next day. <br><br>
								We use standard delivery.</br></br>
								<strong>Same day shipping</strong> for orders received until 14:00h local time for the following countries:
								Bulgaria, Romania, Greece, Hungary, Czech Republic, Croatia, Slovenia, Slovakia and Poland.<br>
								<strong>Delivery time: 2-5 working days.</strong>
								Delivery times may be extended in case of unpredictable situations.
								You may expect some delays during COVID pandemic.<br><br>
								For all other countries we will ship orders twice a week on Mondays and Thursdays.
								<strong>Delivery time: 5-7 working days for Europe, 8-10 working days for USA, Canada, Australia and 10-15 working days for all other countries.</strong><br>
								Delivery times may be extended in case of unpredictable situations. <br><br>
								You may expect some delays during COVID pandemic. <br><br>

							</p>
					</div>
				</div>
			</div>
	</section>
