<section class="wrapper">
	<div class="container margin-top margin-top-100">
		

			<div class="grid-item hidedesktop">
				<div class="slideshow-container-wrapper">
					<div class="slideshow-container">

						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/snow-wax/snow-wax-single-pack.png">
						</div>
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/snow-wax/snow-wax-single-pack-wax.png">
						</div>
		
					</div>
				</div>
			</div>
			
		<div class="grid-2-product">
			
			<div class="grid-item hidesmall">
				<div class="grid-2 grid-small-gap">

					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/snow-wax/snow-wax-single-pack.png" alt="JWAX Snow Wax">
						</div>
					</div>
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/snow-wax/snow-wax-single-pack-wax.png" alt="JWAX Snow Wax">
						</div>
					</div>

				</div>
			</div>

			<div class="grid-item">
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="modalclose"><button class="btnmodalclose">&times;</button></span>
						<img class="img-responsive" src="img/products/snow-wax/snow-wax-single-pack.png" alt="JWAX Snow Wax">
						<img class="img-responsive" src="img/products/snow-wax/snow-wax-single-pack-wax.png" alt="JWAX Snow Wax">
					</div>
				</div>

				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">SNOW WAX</h1>

				<p class="black"><span class="font-weight-black">| single pack |</span></p><br>
				<p class="black size-20">
          Winter is coming with the unique JWAX blue nipple. We gave our naughty snow wax an updated fresh look and mixed even better NEW formula that slides exceptionally well on warmer snow days. Great for snow parks, jibbing or hitting the street spots. Also worth to give it a try in the mountains when your hot ironed wax can’t do the job. Hot or cold snow wax – it’s a wax that works!
				</p>
        <br><br>
				<p class="black font-weight-black size-24">8,49€</p>
				<div id='product-component-1608700217782'></div>
				<p class="margin-top margin-top-60 size-16">IF YOU ARE NOT HAPPY WITH YOUR SKATE WAX WE WILL ACCEPT RETURNS EVEN ON USED PRODUCTS. 100% REFUND. NO QUESTION ASKED. READ THE <a class="links" href="returnandrefundpolicy.html" rel="nofollow">RETURN AND REFUND POLICY</a>.</p>


			<div class="margin-top margin-top-20">	
				<button class="collapsible">FAQ</button>
				<div class="content">

					<div class="margin-top margin-top-40">
						<h3 class="size-28 font-weight-black uppercase">Who is this for?</h3><br>
							<p class="size-20">JWAX fits perfect in the hands of: Street and Freestyle skiers and snowboarders. People who prefer on spot quick fix. Or those who are not servicing or waxing their equipment regularly. Snow enthusiasts with different sets of skis and snowboards for different conditions. People who want to have fun with a snow wax of finest quality.
							</p>
					</div>

					<div class="margin-top margin-top-40">
						<h3 class="size-28 font-weight-black uppercase">Anything else?</h3><br>
							<p class="size-20">You can also hot iron it. Will last longer on your ski and snowboard bases. <strong>HINT:</strong> Always apply snow wax on your skis or snowboard base after the winter season to keep your equipment in good shape for the next one.
							</p>
					</div>

					<div class="margin-top margin-top-40">
						<h3 class="size-28 font-weight-black uppercase">How to use the snow wax?</h3><br>
							<p class="size-20">Rub on the desired amount of JWAX snow wax on your snowboard or skis. You will need more wax if the snow is fresh or rough. One quick fix waxing will last about 2-3 runs, depending on the track length and snow conditions before you notice a slowdown. If used on street or snow parks you can even wax the rails for those smoothest slides. Waxing a snowboard and skis has never been so easy and fun. You can also hot iron when at home or at the service station.
							</p>
					</div>

					<div class="margin-top margin-top-40">
						<h3 class="size-28 font-weight-black uppercase">When to use snow wax?</h3><br>
							<p class="size-20">If You notice that you are losing speed or even stopping way before your snow buddies, especially on more even surface it’s worth to give our wax a try so you don’t get stuck in the snow. Note that it works best in warmer temperatures above -5˚C/23˚F.
							</p>
					</div>

					<div class="margin-top margin-top-40">
						<h3 class="size-28 font-weight-black uppercase">How big it is?</h3><br>
							<p class="size-20">Unlike the most waxes on market, our skate wax is BIG. 95g of finest mixture that will ergonomically fit in your hand and we are proud of it! If this is not enough here is the <a class="links" href="double_pack_snow_wax.html"> double pack snow wax</a>
							</p>
					</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Story behind?</h3><br>
								<p class="size-20">Sofia is the only European capital located 30 minutes drive from a ski resort where we've been testing our wax. Despite we are all rolling in the summer, we also love winters so we decided to develop an easy and fun to use product matching the highest standards in the industry. JWAX is designed to fit in your hand to give you that snow waxing pleasure.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Warranty and shipping?</h3><br>
							<p class="size-20">You can return your snow wax even used if you are not happy with the final results. You can find full information in the <a class="links" href="shippingpolicy.html">shipping</a> and <a class="links" href="Returnandrefundpolicy.html">return policy</a>. Shipping worldwide.
							</p>
						</div>

				</div>
<!-- 
				<button class="collapsible">Reviews</button>
					<div class="content">
						<p class="size-20">Best wax ever!</p>
					</div> -->

			</div>

			<div class="margin-top margin-top-20">
				<div class="cancer-banner horizontal-center">
					<p class="black size-16">
						Join our good cause and support the breast cancer fight by leaving a tip at checkout. 
						All donations go to breast cancer charity foundations worldwide.
					</p>		
				</div>
			</div>

			</div>

		</div>
	</div>
</section>
