	<section class="container-fluid wrapper">

		<div class="row hdrspc-m">
			<div class="col col--6-of-12">

				<div class="slideshow-container-wrapper">
				  <div class="slideshow-container">
						<div>
							<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_1.jpg"></div>
							<div>
								<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_2.jpg"></div>
							<div>
								<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_3.jpg"></div>
							<div>
								<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_4.jpg"></div>
							<div>
								<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_5.jpg"></div>
							<div>
								<img class="mySlides" style="width: 100%" src="img/products/sliders/caps/products_skate_caps_6.jpg"></div>
					</div>

					<div style="text-align:center; position: relative;">
						<a class="prev" onclick="prevSlide()">&#10094;</a>
						<span class="dot active" onclick="goToSlide(0)"></span>
						<span class="dot" onclick="goToSlide(1)"></span>
						<span class="dot" onclick="goToSlide(2)"></span>
						<span class="dot" onclick="goToSlide(3)"></span>
						<span class="dot" onclick="goToSlide(4)"></span>
						<span class="dot" onclick="goToSlide(5)"></span>
						<a class="next" onclick="nextSlide()">&#10095;</a>
					</div>
				</div>

		</div>

			<div class="col col--6-of-12">
				<div class="pbox pboxreset">
					<h1>EVERYDAY SKATE CAP</h1>
					<h2>Jwax</h2><br>
					<p>
						Made for shredding. The Jwax everyday skating cap is here.
						<br><br>
						It's lightweight and comfy. Small logo in the front and the stitched boobie pattern on the back.
						The adjustable strap means it will fit any head size comfortably.
						Perfect for those with smaller heads who always struggle to find a cap not covering their ears.
						These hats are in limited quantities and come in white, red, and black colors to match your style.
						The Jwax everyday skating hat comes at affordable price and makes you look sexy when skating, skateboarding, scoot or BMX riding.
						<br><br>
						*the profit will go for a building a local skate box.
					</p>
					<p class="price"><span style="color: #1a1a1a;">price: </span><strong>10,99€</strong></p>
					<p>Size:</p>
					 <div id='product-component-1656451331161'></div>
					 <p class="donation">
						*Join our good cause and support the breast cancer fight by leaving a tip at checkout. All donations go to breast cancer charity foundations worldwide.
					 </p>
				</div>
			</div>

		</div>
	</section>

<!-- <section class="container-fluid product_faq_box">
		<div class="row">
			<div class="col col--12-of-12">

				<div class="scndbox">
					<div class="pbox">

						<div class="product_faq">
							<h3>Anything else?</h3><br>
								<p>You can wax your laces. Yes, it works. No joke. </p>
						</div>

						<div class="product_faq">
							<h3>How to use it?</h3><br>
								<p>Apply small amount of the JWAX skate wax on the curbs, ledges or rails which you want to grind or slide. You will need more wax if they are virgin. Important: Be careful with the inclined or kink rails as they may get TOO FAST.
								</p>
						</div>

						<div class="product_faq">
							<h3>Why I need skate wax?</h3><br>
								<p>If the curbs, ledges or rails does not slide well or if you want the smoothest grinds, the JWAX skate wax will help you grind with ease while having fun using it. Designed to fit in your hand it’s the ultimate skate wax for skateboarding, rollerblading and inline skating, scooter and bmx riding and will be no wrong to say it’s the best skatepark and street skating wax period.
								</p>
						</div>

						<div class="product_faq">
							<h3>How big it is?</h3><br>
								<p>Unlikely the most waxes on the market, our skate wax is BIG. 95g of finest mixture that will ergonomically fit in your hand and we are proud of it!
								</p>
						</div>

						<div class="product_faq">
							<h3>The story behind?</h3><br>
								<p>We’ve been waxing the streets of Sofia since 1996. In 2000 we began testing different blends of ingredients to achieve the ideal formula which we recently decided to update and achieved even better sliding results.
								</p>
						</div>

							<div class="product_faq">
								<h3>Warranty?</h3><br>
									<p>YYou can return your product even used if you are not happy with the final results. You can find full information in the sipping and return policy.
									</p>
							</div>

							<div class="product_faq">
								<h3>Warranty?</h3><br>
								<p>You can wax your laces. Yes, it works. No joke.
								</p>
							</div>

					</div>
				</div>

			</div>
		</div>

	</section> -->
