<section class="wrapper">
	<div class="container margin-top margin-top-100">
		
			<div class="grid-item hidedesktop">
				<div class="slideshow-container-wrapper">
					<div class="slideshow-container">
						
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/t-shirts/pattern-tshirt.png">
						</div>
					
						<div style="background-color: #F1F1F1;">
							<img class="mySlides" src="img/products/t-shirts/pattern-tshirt-detail.png">
						</div>

					</div>
				</div>
			</div>

		<div class="grid-2-product">	
			
			<div class="grid-item hidesmall">
				<div class="grid-2 grid-small-gap">

					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/t-shirts/pattern-tshirt.png" alt="JWAX t-shirt">
						</div>
					</div>
					
					<div class="product-wrapper">
						<div class="product-image modalBtn">
							<img class="img-responsive" src="img/products/t-shirts/pattern-tshirt-detail.png" alt="JWAX t-shirt">
						</div>
					</div>

				</div>
			</div>

			<div class="grid-item">
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="modalclose"><button class="btnmodalclose">&times;</button></span>
						<img class="img-responsive" src="img/products/t-shirts/pattern-tshirt.png"" alt="JWAX t-shirt">
						<img class="img-responsive" src="img/products/t-shirts/pattern-tshirt-detail.png" alt="JWAX t-shirt">
					</div>
				</div>

				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">Pattern T-SHIRT</h1>

				<p class="black"><span class="font-weight-black">| t-shirt |</span></p><br>
				<p class="black size-20">
          Our skate wax has a friend! Grab now our first ever JWAX T-shirt. Design inspired by the shape of our best selling skate wax. Heavy cotton for more durability during skate sessions and comfort in the colder days. Available in different sizes and limited quantities.
				</p>
        <br><br>
				<p class="black font-weight-black size-28">12,99€</p>
				<div id='product-component-1610490395721'></div>
				<script>/*<![CDATA[*/
					(function () {
						var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
						if (window.ShopifyBuy) {
							if (window.ShopifyBuy.UI) {
								ShopifyBuyInit();
							} else {
								loadScript();
							}
						} else {
							loadScript();
						}
						function loadScript() {
							var script = document.createElement('script');
							script.async = true;
							script.src = scriptURL;
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
							script.onload = ShopifyBuyInit;
						}
						function ShopifyBuyInit() {
							var client = ShopifyBuy.buildClient({
								domain: 'jwax.myshopify.com',
								storefrontAccessToken: '6d47143e0fa2d2f0bd425adfced5dc38',
							});
							ShopifyBuy.UI.onReady(client).then(function (ui) {
								ui.createComponent('product', {
									id: '6169853919418',
									node: document.getElementById('product-component-1610490395721'),
									moneyFormat: '%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D',
									options: {
						"product": {
							"styles": {
								"product": {
									"@media (min-width: 601px)": {
										"max-width": "calc(25% - 20px)",
										"margin-left": "20px",
										"margin-bottom": "50px"
									},
									"text-align": "left"
								},
								"button": {
									"font-weight": "bold",
									":hover": {
										"background-color": "#F41616"
									},
									"background-color": "#1a1a1a",
									":focus": {
										"background-color": "#2c2c2c"
									},
									"border-radius": "0px",
									"padding-left": "24px",
									"padding-right": "24px"
								}
							},
							"contents": {
								"img": false,
								"title": false,
								"price": false
							},
							"text": {
								"button": "Add to Cart"
							}
						},
						"productSet": {
							"styles": {
								"products": {
									"@media (min-width: 601px)": {
										"margin-left": "-20px"
									}
								}
							}
						},
						"modalProduct": {
							"contents": {
								"img": false,
								"imgWithCarousel": true,
								"button": false,
								"buttonWithQuantity": true
							},
							"styles": {
								"product": {
									"@media (min-width: 601px)": {
										"max-width": "100%",
										"margin-left": "0px",
										"margin-bottom": "0px"
									}
								},
								"button": {
									"font-weight": "bold",
									":hover": {
										"background-color": "#2c2c2c"
									},
									"background-color": "#1a1a1a",
									":focus": {
										"background-color": "#2c2c2c"
									},
									"border-radius": "0px",
									"padding-left": "38px",
									"padding-right": "38px"
								}
							},
							"text": {
								"button": "Add to cart"
							}
						},
						"cart": {
							"styles": {
								"button": {
									"font-weight": "bold",
									":hover": {
										"background-color": "#2c2c2c"
									},
									"background-color": "#1a1a1a",
									":focus": {
										"background-color": "#2c2c2c"
									},
									"border-radius": "0px"
								},
								"title": {
									"color": "#1a1a1a"
								},
								"header": {
									"color": "#1a1a1a"
								},
								"lineItems": {
									"color": "#1a1a1a"
								},
								"subtotalText": {
									"color": "#1a1a1a"
								},
								"subtotal": {
									"color": "#1a1a1a"
								},
								"notice": {
									"color": "#1a1a1a"
								},
								"currency": {
									"color": "#1a1a1a"
								},
								"close": {
									"color": "#1a1a1a",
									":hover": {
										"color": "#1a1a1a"
									}
								},
								"empty": {
									"color": "#1a1a1a"
								},
								"noteDescription": {
									"color": "#1a1a1a"
								},
								"discountText": {
									"color": "#1a1a1a"
								},
								"discountIcon": {
									"fill": "#1a1a1a"
								},
								"discountAmount": {
									"color": "#1a1a1a"
								}
							},
							"text": {
								"total": "Subtotal"
							}
						},
						"toggle": {
							"styles": {
								"toggle": {
									"font-weight": "bold",
									"background-color": "#1a1a1a",
									":hover": {
										"background-color": "#2c2c2c"
									},
									":focus": {
										"background-color": "#2c2c2c"
									}
								}
							}
						},
						"lineItem": {
							"styles": {
								"variantTitle": {
									"color": "#1a1a1a"
								},
								"title": {
									"color": "#1a1a1a"
								},
								"price": {
									"color": "#1a1a1a"
								},
								"fullPrice": {
									"color": "#1a1a1a"
								},
								"discount": {
									"color": "#1a1a1a"
								},
								"discountIcon": {
									"fill": "#1a1a1a"
								},
								"quantity": {
									"color": "#1a1a1a"
								},
								"quantityIncrement": {
									"color": "#1a1a1a",
									"border-color": "#1a1a1a"
								},
								"quantityDecrement": {
									"color": "#1a1a1a",
									"border-color": "#1a1a1a"
								},
								"quantityInput": {
									"color": "#1a1a1a",
									"border-color": "#1a1a1a"
								}
							}
						}
					},
								});
							});
						}
					})();
					/*]]>*/</script>
				<p class="margin-top margin-top-60 size-16">WE ACCEPT RETURNS. READ THE <a class="links" href="returnandrefundpolicy.html" rel="nofollow">RETURN AND REFUND POLICY</a>.</p>

				<!-- <div class="margin-top margin-top-20">
					<button class="collapsible">FAQ</button>
					<div class="content">

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Who is this for?</h3><br>
								<p class="size-20">JWAX fits perfect in the hands of: Surfers and surfboarders. Bodyboarders and Skimboarders.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">Anything else?</h3><br>
								<p class="size-20">Completely natural and eco-friendly thus will not impact the environment. Use as much as you want with confidence and clear conscious.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">How to use the snow wax?</h3><br>
								<p class="size-20">Top up your surfboard with desired amount of JWAX surf wax every time you get on your board until you get that grip. However one quick fix waxing should last at least a couple of sessions depending on the water temperature. On yearly base You should remove the old wax from your surfboard and rub a new surf wax around every 3-4 months. In warm waters this procedure may repeat more often. Just rub on and we will do the rest.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">When to use surf wax?</h3><br>
								<p class="size-20">Always when you are surfing. If You notice that you are losing grip even after application of fresh surf wax during a session, probably it’s time to re-wax with a completely fresh wax.
								</p>
						</div>

						<div class="margin-top margin-top-40">
							<h3 class="size-28 font-weight-black uppercase">How big it is?</h3><br>
								<p>Unlike the most waxes on market, our surf wax is BIG. 190g of finest mixture that will ergonomically fit in your hand and we are proud of it! If this is more than you need here is the  <a class="links" href="single_pack_surf_wax.html">single pack surf wax</a>.
								</p>
						</div>

							<div class="margin-top margin-top-40">
								<h3 class="size-28 font-weight-black uppercase">Story behind?</h3><br>
									<p>A few hours driving from Sofia is the black sea with very hot summers and even hotter people. No way to miss the chance for some sexy shaped surf wax, right? It took us a few years but we finally developed the warm water surf wax in top shape.
									</p>
							</div>

							<div class="margin-top margin-top-40">
								<h3 class="size-28 font-weight-black uppercase">Warranty and shipping?</h3><br>
								<p class="size-20">You can return your surf wax even used if you are not happy with the final results. You can find full information in the <a class="links" href="shippingpolicy.html">shipping</a> and <a class="links" href="Returnandrefundpolicy.html">return policy</a>. Shipping worldwide.
								</p>
							</div>

					</div>

					<button class="collapsible">Reviews</button>
						<div class="content">
							<p class="size-20">Best wax ever!</p>
						</div>

				</div> -->

				<div class="margin-top margin-top-20">
					<div class="cancer-banner horizontal-center">
						<p class="black size-16">
							Join our good cause and support the breast cancer fight by leaving a tip at checkout. 
							All donations go to breast cancer charity foundations worldwide.
						</p>		
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
