	<section class="container-fluid wrapper">
<div class="row">
<div class="col col--8-of-12">
	<h1>TEAM</h1>
	</div>
	</div>

		<div class="row">

				<div class="col col--3-of-12">
					<div class="pbox">
						<img class="img-responsive" src="img/team/Grigor_Grigorov.png" alt="ski and skiing wax, snowboard wax">
						<h2 class="text_case">Grigor Grigorov</h2><br>
						<p>
							follow: <a href="https://www.instagram.com/grigor__grigorov/" class="team-links">Instagram</a> <a href="https://www.youtube.com/channel/UCoC6_vasRUR6Pr4iCgtZhsw" class="team-links">Youtube</a>
						</p>
					</div>
				</div>

				<div class="col col--3-of-12">
					<div class="pbox">
						<img class="img-responsive" src="img/team/Ralitsa_Chimshirova.png" alt="skating wax for skateboard, scooter and bmx.">
						<h2 class="text_case">Ralitsa Chimshirova</h2><br>
						<p>
							follow: <a href="https://www.instagram.com/ralitsa.chm/?hl=en" class="team-links">Instagram</a>
						</p>
					</div>
				</div>

				<div class="col col--3-of-12">
					<div class="pbox">
						<img class="img-responsive" src="img/team/Dimitrina_Krazhanova.png" alt="wax surf board">
							<h2 class="text_case">Dimitrina Krazhanova</h2><br>
							<p>
								follow: <a href="https://www.instagram.com/dimitrina_krazhanova/" class="team-links">Instagram</a> <a href="https://www.facebook.com/dimitrina.krazhanova" class="team-links">Facebook</a></p>
					</div>
				</div>

				<div class="col col--3-of-12">
					<div class="pbox">
						<img class="img-responsive" src="img/team/Kristian_Dimitrov.png" alt="wax surf board">
							<h2 class="text_case">kristian dimitrov</h2><br>
							<p>
								follow: <a href="https://www.instagram.com/kristian_sofiascoot/" class="team-links">Instagram</a> <a href="https://vm.tiktok.com/ZMJnL4FKS/" class="team-links">TikTok</a>
							</p>
					</div>
				</div>

			</div>

	</section>
