<section class="wrapper">
	<div class="container margin-top margin-top-100">
		<div class="grid-1">
			<div class="grid-item">
				<div class="x-symbol"></div>
				<h1 class="black size-92 uppercase">Team</h1>
				<p class="black size-24">
					The JWAX team is built on open-minded and skilled local and international riders from the world of skateboarding, inline skating, BMX, and scooter. The best skate wax deserves a strong team. Learn more about our shredders by visiting their profiles.
				</p>
			</div>
		</div>
	</div>

	<div class="container margin-top margin-top-60">
		<div class="grid-4">

			<div class="grid-item">		
				<img class="img-responsive" src="img/team/Ilia_Savosin.png" alt="JWAX team rider Ilia Savosin wearing jwax t-shirt and holding skate wax">
				<h2 class="black size-28 uppercase line-height-150">Ilia Savosin</h2>
				<p class="black size-16">| rollerblading | Russia |<br>
					follow: <a href="https://www.instagram.com/savosin.ilia/?hl=en" class="links">Instagram</a>
				</p>
			</div>

			<div class="grid-item">	
				<img class="img-responsive" src="img/team/Sorin_Coseraru.png" alt="Sorin Coseraru rollerblading jwax team rider">
				<h2 class="black size-28 uppercase line-height-150">Sorin Coseraru</h2>
				<p class="black size-16">| rollerblading | Romania |<br>
					follow: <a href="https://www.instagram.com/sorin.coseraru/" class="links">Instagram</a>, <a href="https://www.facebook.com/sorincoseraru" class="links">Facebook</a>
				</p>
			</div>

			<div class="grid-item">
				<img class="img-responsive" src="img/team/Rusen_Minchev.png" alt="Rusen Minchev rollerblading jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Rusen Minchev</h2>
					<p class="black size-16">| rollerblading | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/rusenminchev/" class="links">Instagram</a>, <a href="https://www.facebook.com/rusen.minchev" class="links">Facebook</a>
					</p>
			</div>

			<div class="grid-item">
				<img class="img-responsive" src="img/team/Evgeniy_Penkov.png" alt="Evgeniy Penkov rollerblading jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Evgeniy Penkov</h2>
					<p class="black size-16">| rollerblading | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/evgeniypnkv/" class="links">Instagram</a>, <a href="https://www.facebook.com/evgeniypnkv" class="links">Facebook</a>
					</p>
			</div>

			<div class="grid-item">
				<img class="img-responsive" src="img/team/Kate_Bedrata.jpg" alt="Kate Bedrata rollerblading jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Kate Bedrata</h2>
					<p class="black size-16">| rollerblading | Ukraine |<br>
						follow: <a href="https://instagram.com/kate.bedrata?igshid=YmMyMTA2M2Y=" class="links">Instagram</a>, <a href="https://www.facebook.com/kate.bedrata" class="links">Facebook</a>, <a href="https://vm.tiktok.com/ZMNrgvYhv/" class="links">TikTok</a>
						</p>
			</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Grigor_Grigorov.png" alt="Grigor Grigorov scoot jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Grigor Grigorov</h2>
					<p class="black size-16">| scoot | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/grigor__grigorov/" class="links">Instagram</a>, <a href="https://www.youtube.com/channel/UCoC6_vasRUR6Pr4iCgtZhsw" class="links">Youtube</a>, <a href="https://www.tiktok.com/@grigor_grigorov?lang=en" class="links">TikTok</a>
					</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Kristian_Dimitrov.png" alt="Kristian Dimitrov scoot jwax team rider">
						<h2 class="black size-28 uppercase line-height-150">Kristian Dimitrov</h2>
						<p class="black size-16">| scoot | Bulgaria |<br>
							follow: <a href="https://www.instagram.com/kristian_sofiascoot/" class="links">Instagram</a>, <a href="https://www.tiktok.com/@kristian_dimitrov?lang=en" class="links">TikTok</a>
						</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Iliyan_Hriskov.png" alt="JWAX skateboard team rider Iliyan Hriskov holding a skateboard">
					<h2 class="black size-28 uppercase line-height-150">Iliyan Hriskov</h2>
					<p class="black size-16">| skate | Bulgaria |<br>
						follow: <a href="https://instagram.com/iliyanhriskov?igshid=ks7l1hj4cfjc" class="links">Instagram</a>
					</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Alberto_Chakalov.png" alt="Alberto Chakalov skate jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Alberto Chakalov</h2>
					<p class="black size-16">| skate | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/alberto__sk8/?igshid=YmMyMTA2M2Y%3D" class="links">Instagram</a>
					</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Viktor_Pentchev.png" alt="Viktor Pentchev skate jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Viktor Pentchev</h2>
					<p class="black size-16">| skate | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/victor_pentchev/?igshid=YmMyMTA2M2Y%3D" class="links">Instagram</a>
					</p>
				</div>
				<div class="grid-item">
					<img class="img-responsive" src="img/team/Kaloian_Trenkov.png" alt="Kaloian Trenkov skate jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Kaloian Trenkov</h2>
					<p class="black size-16">| skate | Bulgaria |<br>
						follow: <a href="https://instagram.com/kaloian_trenkov?igshid=jo6k2g9pvzv7" class="links">Instagram</a>
					</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Ralitsa_Chimshirova.png" alt="Ralitsa Chimshirova skate jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Ralitsa Chimshirova</h2>
					<p class="black size-16">| skate | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/ralitsa.chm/?hl=en" class="links">Instagram</a>
					</p>
				</div>

				<div class="grid-item">
					<img class="img-responsive" src="img/team/Hristo_Iliev.png" alt="Hristo Iliev bmx jwax team rider">
					<h2 class="black size-28 uppercase line-height-150">Hristo Iliev</h2>
					<p class="black size-16">| bmx | Bulgaria |<br>
						follow: <a href="https://www.instagram.com/hristo.iliev/" class="links">Instagram</a>, <a href="https://www.facebook.com/hristo.iliev.75" class="links">Facebook</a>
					</p>
				</div>

					<div class="grid-item">
						<img class="img-responsive" src="img/team/Atanas_Atanasov.png" alt="Atanas Atanasov bmx jwax team rider">
						<h2 class="black size-28 uppercase line-height-150">Atanas Atanasov</h2>
						<p class="black size-16">| bmx | Bulgaria |<br>
							follow: <a href="https://www.instagram.com/xayasko/" class="links">Instagram</a>, <a href="https://www.facebook.com/Nassskoyyy" class="links">Facebook</a>
						</p>
					</div>

		</div>
	</div> 
</section>
