<section class="container-fluid wrapper">
	<div class="row">
		<div class="col col--4-of-12 col col--am">
			<div class="box">
				<a href="products.html">
					<!-- <img class="img-responsive hidedesktop" src="img/productshot_sm2.png" alt="JWAX product shot"> -->
					<img class="img-responsive hidedesktop" src="img/productshot_sm.png" alt="JWAX product shot">
				</a>
				<h1 class="white">JWAX</h1>
					<p class="white">
Hand crafted wax for skate, snow and surf.
Manufactured by four friends in a basement in downtown Sofia, Bulgaria.
We are fortunate to have locations for skating, snowboarding and surfing all
within a few hours drive, which gives us the perfect testing grounds to
experiment with our products. Grab a pair and shred like you've never shred before.
					</p>
					<!-- <p class="notice white">
						*One package contains two peaces of wax. <strong>/230g./</strong>
					</p> -->
					<a href="https://jwaxsofia.bigcartel.com/products" class="buybtn btnfix">Grab Now</a>
				</div>
		</div>

		<div class="col col--7-of-12 col--push-1-of-12 col col--am">
			<a href="https://jwaxsofia.bigcartel.com/products" class="hidethis">
				<div class="hero hidethis">
					<img class="img-responsive" src="img/productshot_under.png" alt="JWAX Product Shot">
				</div>
			</a>
		</div>
	</div>
</section>

<!-- <img class="img-responsive" src="img/test_under.png" style="background-color: #F41616;" alt="JWAX Product Shot"> -->
<!-- <img class="img-responsive" src="img/test_top.png" style="background-color: #F41616;" alt="JWAX Product Shot"> -->
