<section class="container-fluid wrapper">
	<div class="row">
		<div class="col col--8-of-12">
			<h1>WHERE TO FIND OUR PRODUCTS <br>WAX FOR SNOWBOARD | SKI | SKATE | SURF</h1>
		</div>
	</div>

	<div class="row">


			<div class="col col--2-of-12">
				<div class="shopsspacer"></div>
					<div class="pbox">
						<h2>Bulgaria</h2><br>
						<a class="shopslinks" href="https://vertigo-skates.com" rel="nofollow">Vertigo Skates</a>
						<a class="shopslinks" href="https://www.bloksf.com/" rel="nofollow">Block Shop</a>
						<a class="shopslinks" href="https://boardshop.bg" rel="nofollow">Board Shop</a>
						<a class="shopslinks" href="https://www.etsy.com/shop/RadGalRollerSkate" rel="nofollow">Rad Gal</a>
						<a class="shopslinks" href="https://artelie.com/en/" rel="nofollow">Artelie</a>
					</div>
			</div>

			<div class="col col--2-of-12">
				<div class="shopsspacer"></div>
					<div class="pbox">
						<h2>Poland</h2><br>
						<a class="shopslinks" href="https://hedonskate.com" rel="nofollow">Hedonskate</a>
				</div>
			</div>

			<div class="col col--2-of-12">
				<div class="shopsspacer"></div>
					<div class="pbox">
						<h2>Greece</h2><br>
						<a class="shopslinks" href="https://www.futureskate.gr" rel="nofollow">Future Skate</a>
					</div>
			</div>

			<div class="col col--2-of-12">
				<div class="shopsspacer"></div>
					<div class="pbox">
						<h2>Romania</h2><br>
						<a class="shopslinks" href="https://www.funride.ro" rel="nofollow">Funride</a>
					</div>
			</div>

	</div>
</section>
