@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*\
  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -60px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 797px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1017px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1218px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1660px) {
  .container {
    width: 1272px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.col--12-of-12, .col--8-of-8, .col--6-of-6, .col--5-of-5, .col--4-of-4, .col--3-of-3, .col--2-of-2 {
  width: 100%;
}

.col--6-of-12, .col--4-of-8, .col--3-of-6, .col--2-of-4, .col--1-of-2 {
  width: 50%;
}

.col--4-of-12, .col--2-of-6, .col--1-of-3 {
  width: 33.3333333333%;
}

.col--8-of-12, .col--4-of-6, .col--2-of-3 {
  width: 66.6666666667%;
}

.col--3-of-12, .col--2-of-8, .col--1-of-4 {
  width: 25%;
}

.col--9-of-12, .col--6-of-8, .col--3-of-4 {
  width: 75%;
}

.col--push-12-of-12, .col--push-8-of-8, .col--push-6-of-6, .col--push-5-of-5, .col--push-4-of-4, .col--push-3-of-3, .col--push-2-of-2 {
  margin-left: 100%;
}

.col--push-6-of-12, .col--push-4-of-8, .col--push-3-of-6, .col--push-2-of-4, .col--push-1-of-2 {
  margin-left: 50%;
}

.col--push-4-of-12, .col--push-2-of-6, .col--push-1-of-3 {
  margin-left: 33.3333333333%;
}

.col--push-8-of-12, .col--push-4-of-6, .col--push-2-of-3 {
  margin-left: 66.6666666667%;
}

.col--push-3-of-12, .col--push-2-of-8, .col--push-1-of-4 {
  margin-left: 25%;
}

.col--push-9-of-12, .col--push-6-of-8, .col--push-3-of-4 {
  margin-left: 75%;
}

.col--1-of-5 {
  width: 20%;
}

.col--push-1-of-5 {
  margin-left: 20%;
}

.col--2-of-5 {
  width: 40%;
}

.col--push-2-of-5 {
  margin-left: 40%;
}

.col--3-of-5 {
  width: 60%;
}

.col--push-3-of-5 {
  margin-left: 60%;
}

.col--4-of-5 {
  width: 80%;
}

.col--push-4-of-5 {
  margin-left: 80%;
}

.col--1-of-6 {
  width: 16.6666666667%;
}

.col--push-1-of-6 {
  margin-left: 16.6666666667%;
}

.col--5-of-6 {
  width: 83.3333333333%;
}

.col--push-5-of-6 {
  margin-left: 83.3333333333%;
}

.col--1-of-8 {
  width: 12.5%;
}

.col--push-1-of-8 {
  margin-left: 12.5%;
}

.col--3-of-8 {
  width: 37.5%;
}

.col--push-3-of-8 {
  margin-left: 37.5%;
}

.col--5-of-8 {
  width: 62.5%;
}

.col--push-5-of-8 {
  margin-left: 62.5%;
}

.col--7-of-8 {
  width: 87.5%;
}

.col--push-7-of-8 {
  margin-left: 87.5%;
}

.col--1-of-12 {
  width: 8.3333333333%;
}

.col--push-1-of-12 {
  margin-left: 8.3333333333%;
}

.col--2-of-12 {
  width: 16.6666666667%;
}

.col--push-2-of-12 {
  margin-left: 16.6666666667%;
}

.col--5-of-12 {
  width: 41.6666666667%;
}

.col--push-5-of-12 {
  margin-left: 41.6666666667%;
}

.col--7-of-12 {
  width: 58.3333333333%;
}

.col--push-7-of-12 {
  margin-left: 58.3333333333%;
}

.col--10-of-12 {
  width: 83.3333333333%;
}

.col--push-10-of-12 {
  margin-left: 83.3333333333%;
}

.col--11-of-12 {
  width: 91.6666666667%;
}

.col--push-11-of-12 {
  margin-left: 91.6666666667%;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 60px;
  vertical-align: top;
}
@media (max-width: 1100px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 1100px) and (min-width: 550px) {
  .col[class*=col--m-] {
    display: inline-block;
    margin-right: -0.24em;
  }
  .col.col--m-1-of-2, .col.col--m-2-of-4 {
    width: 50%;
  }
  .col.col--m-1-of-3 {
    width: 33.3333333333%;
  }
  .col.col--m-2-of-3 {
    width: 66.6666666667%;
  }
  .col.col--m-1-of-4 {
    width: 25%;
  }
  .col.col--m-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 550px) {
  .col[class*=col--s-] {
    display: inline-block;
    margin-right: -0.24em;
  }
  .col.col--s-1-of-2, .col.col--s-2-of-4 {
    width: 50%;
  }
  .col.col--s-1-of-3 {
    width: 33.3333333333%;
  }
  .col.col--s-2-of-3 {
    width: 66.6666666667%;
  }
  .col.col--s-1-of-4 {
    width: 25%;
  }
  .col.col--s-3-of-4 {
    width: 75%;
  }
}

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col--d-first {
  float: left;
}

.col--d-last {
  float: right;
}

.row--no-gutter {
  margin-left: 0;
  width: 100%;
}
.row--no-gutter .col {
  padding-left: 0;
}
.row--no-gutter .col--span-all {
  margin-left: 0;
  width: 100%;
}

.col--ab {
  vertical-align: bottom;
}

.col--am {
  vertical-align: middle;
}

@font-face {
  font-family: "HKGrotesk-Light";
  src: url("../fonts/hkgrotesk-light-web.eot");
  src: url("../fonts/hkgrotesk-light-web.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/hkgrotesk-light-web.woff2") format("woff2"), url("../fonts/hkgrotesk-light-web.woff") format("woff"), url("../fonts/hkgrotesk-light-web.svg#hkgrotesk-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../fonts/hkgrotesk-medium-web.eot");
  src: url("../fonts/hkgrotesk-medium-web.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/hkgrotesk-medium-web.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-web.woff") format("woff"), url("../fonts/hkgrotesk-medium-web.svg#hkgrotesk-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../fonts/hkgrotesk-regular-web.eot");
  src: url("../fonts/hkgrotesk-regular-web.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/hkgrotesk-regular-web.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-web.woff") format("woff"), url("../fonts/hkgrotesk-regular-web.svg#hkgrotesk-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../fonts/hkgrotesk-bold-web.eot");
  src: url("../fonts/hkgrotesk-bold-web.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/hkgrotesk-bold-web.woff2") format("woff2"), url("../fonts/hkgrotesk-bold-web.woff") format("woff"), url("../fonts/hkgrotesk-bold-web.svg#hkgrotesk-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
}

::selection {
  background-color: #1a1a1a;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "HKGrotesk-Light", "HKGrotesk-Bold", sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.wrapper {
  margin-left: 9%;
  margin-right: 9%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

nav {
  margin-top: 9px;
  margin-bottom: 6%;
}

.logo_w {
  background-image: url(../img/logo_w.svg);
  background-repeat: no-repeat;
  margin-top: 28px;
  height: 55px;
  width: 42px;
  display: block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
}

.logo_b {
  background-image: url(../img/logo_b.svg);
  background-repeat: no-repeat;
  margin-top: 27px;
  height: 55px;
  width: 42px;
  display: block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
}

nav ul {
  float: right;
}

nav ul li {
  margin-top: 42px;
  display: inline-block;
  margin-right: 36px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 18px;
  color: #1a1a1a;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

nav ul li a:hover {
  color: #F41616;
  text-decoration: none;
}

nav li.current a {
  color: #F41616;
}

footer {
  margin-top: 60px;
  margin-bottom: 12px;
}

.copyright {
  font-family: "HKGrotesk-Light", "sans-serif";
  font-size: 12px;
  color: #1d1d1d;
  text-rendering: optimizeLegibility;
}

.footerlinks {
  color: #1a1a1a;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.footerlinks:hover {
  color: #F41616;
}

.box {
  max-width: 480px;
}

.space {
  margin-bottom: 8px;
}

h1 {
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 42px;
  display: inline-block;
  letter-spacing: 0;
  margin-bottom: 36px;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 28px;
  display: inline-block;
  color: #1a1a1a;
  text-transform: uppercase;
  margin-bottom: 36px;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 21px;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
}

h4 {
  display: inline-block;
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 26px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin-top: -50px;
  margin-bottom: 21px;
}

p {
  display: inline-block;
  font-family: "HKGrotesk-Regular", "sans-serif";
  font-size: 18px;
  line-height: 150%;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
}

ul.bullet-list > li {
  display: inline-block;
  font-family: "HKGrotesk-Light", "sans-serif";
  font-size: 18px;
  line-height: 138%;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
  padding-bottom: 12px;
}

.notice {
  font-size: 14px;
  text-indent: -7px;
  padding: 0 0 4px 0;
  max-width: 370px;
}

strong {
  font-family: "HKGrotesk-Bold", "sans-serif";
}

.price {
  color: #F41616;
  padding-top: 26px;
  font-size: 21px;
}

.shopsspacer {
  margin-top: 120px;
}

.buybtn, .buybtn2 {
  display: block;
  font-family: "HKGrotesk-Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  cursor: grab;
  text-decoration: none;
  box-sizing: border-box;
  color: #F41616;
  background-color: #ffffff;
  border: none;
  padding: 14px 0;
  margin: 36px 0 32px 0;
  max-width: 470px;
  text-rendering: optimizeLegibility;
  transition: all 50ms ease-in-out;
}

.buybtn:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  animation: shake 0.28s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.buybtn:active {
  cursor: grabbing;
}

.buybtn2 {
  color: #ffffff;
  background-color: #1a1a1a;
  margin-top: 26px;
}

.buybtn2:hover {
  background-color: #F41616;
  color: #ffffff;
  animation: shake 0.28s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.buybtn2:active {
  cursor: grabbing;
}

.submit:hover {
  background-color: #1a1a1a;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.btnfix {
  width: 146px;
}

.links {
  font-family: "HKGrotesk-Light", "sans-serif";
  letter-spacing: 0.02em;
  color: blue;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  border-bottom: 1px dotted blue;
  transition: all 100ms ease-in-out;
}

a.links:hover {
  text-decoration: none;
  color: #F41616;
}

.shopslinks {
  font-family: "HKGrotesk-Bold", "sans-serif";
  font-size: 18px;
  line-height: 140%;
  display: block;
  margin-bottom: 21px;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.shopslinks:hover {
  text-decoration: none;
  color: #F41616;
}

.thankyou {
  height: 400px;
}
.thankyou p {
  text-align: center;
}
.thankyou h3 {
  margin-top: 55px;
  margin-bottom: 14px;
}

.pbox {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pbox > h1 {
  margin-top: -15px;
}

.cbox {
  margin-bottom: 24px;
  max-width: 476px;
  margin-left: auto;
  margin-right: auto;
}

form {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  max-width: 476px;
}

input, textarea, select {
  font-family: "HKGrotesk-Light", "sans-serif";
  background-color: #f2f2f2;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 42px;
  width: 99%;
  padding: 4px 8px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 140%;
  color: #1a1a1a;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
}

textarea {
  height: auto;
}

textarea:focus, input:focus, select:focus {
  outline: none;
  border-bottom: 1px solid #1a1a1a;
  background-color: #ffffff;
  box-shadow: none;
}

select {
  background: url(../img/arrows.svg) no-repeat 99% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.submit {
  font-family: "HKGrotesk-Bold", "sans-serif";
  background-color: #F41616;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 0 !important;
  padding: 12px 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  transition: all 100ms ease-in-out;
}

form#detailsform {
  margin: 0 0 24px 0;
  padding: 8px 6px 2px 8px;
  border: 1px solid #f2f2f2;
}

.name {
  width: 48.3%;
  float: left;
  margin-right: 8px;
}

.lastname {
  width: 49%;
}

.zip {
  width: 31.5%;
  float: left;
  margin-right: 8px;
}

.city {
  width: 32%;
  float: left;
  margin-right: 8px;
}

.country {
  width: 32%;
  float: left;
}

.email {
  width: 48.3%;
  float: left;
  margin-right: 8px;
}

.phone {
  width: 49%;
}

.currentstep {
  color: #F41616;
}

.orderthumb {
  width: 84px;
  padding: 0;
  display: flex;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 470px;
  margin-bottom: 8px;
}

td, th {
  border: 1px solid #f2f2f2;
  padding: 12px;
  vertical-align: middle;
}

.product {
  text-align: center;
}

.quantity {
  max-width: 48px;
  height: 36px;
  float: right;
}

.flcls {
  float: left;
  padding-top: 7px;
}

.flcls_b {
  text-align: right;
  float: none;
}

.amount {
  text-align: right;
}

.information {
  font-size: 12px;
  clear: both;
  text-indent: -5px;
}

.shipping {
  text-align: right;
  padding-top: 8px;
}

.adressbox {
  padding: 8px 6px 2px 8px;
  border: 1px solid #f2f2f2;
  max-width: 470px;
  box-sizing: border-box;
}

.mm {
  float: left;
  width: 32%;
  margin-right: 8px;
}

.yy {
  float: left;
  width: 31%;
  margin-right: 8px;
}

.cvv {
  width: 32%;
}

.red {
  background-color: #F41616;
}

.gray {
  color: #f2f2f2;
}

.graybg {
  background-color: #f2f2f2;
}

.white {
  color: #ffffff;
}

.black:hover {
  color: #1a1a1a;
}

.productshots {
  position: relative;
  z-index: -10000;
  margin-top: -20px;
  margin-bottom: -35px;
}

.hamburger {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: bold;
  color: #ffffff;
  float: right;
  margin-top: 32px;
}

.hamburgerblck {
  cursor: pointer;
  font-size: 2.8em;
  color: #1a1a1a;
  float: right;
  margin-top: 32px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The side navigation menu */
.hidedesktop {
  display: none;
}

.hidesmall {
  display: block;
}

.hamburger {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: bold;
  color: #ffffff;
  float: right;
  margin-top: 32px;
}

.hamburgerblck {
  cursor: pointer;
  font-size: 2.8em;
  color: #1a1a1a;
  float: right;
  margin-top: 32px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  font-family: "HKGrotesk-Medium", "sans-serif";
  font-weight: 500;
  font-size: 2.4em;
  padding: 8px 8px 10px 32px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-bottom: 30px;
  transition: 0.5s;
}

.recolorblack {
  color: #1a1a1a;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 29px;
  right: 8.5%;
  font-size: 36px;
}

.hero {
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/branding_top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.hero:hover {
  transform: scale(1.15);
}
.hero:hover:before {
  transform: scale(0.8);
  opacity: 0;
}

@media only screen and (orientation: landscape) {
  footer {
    -webkit-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .topnav {
    display: none;
  }

  .hidedesktop {
    display: block;
  }

  .hidesmall, .hidethis {
    display: none;
  }

  .box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .thankyou {
    height: 330px;
  }
}
@media screen and (max-width: 763px) {
  .copyright {
    font-size: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 1600px) {
  nav {
    margin-bottom: 6%;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 18px;
  }

  p {
    font-size: 15px;
  }

  form {
    margin-bottom: 32px;
  }

  input, textarea {
    font-size: 17px;
  }

  .submit {
    font-size: 1.8em;
  }

  .thankyou {
    height: 200px;
  }

  .btnfix {
    width: 112px;
  }

  .price {
    padding-top: 21px;
    font-size: 18px;
  }

  .notice {
    font-size: 12px;
  }

  .buybtn2 {
    margin-top: 21px;
  }
}
@media screen and (max-width: 433px) {
  nav {
    margin-bottom: 4%;
  }

  input, textarea {
    font-size: 16px;
  }

  .mm {
    float: left;
    width: 31%;
    margin-right: 8px;
  }

  .yy {
    float: left;
    width: 31%;
    margin-right: 8px;
  }

  .cvv {
    width: 31%;
  }
}
@media screen and (max-width: 417px) {
  .zip {
    width: 37%;
  }

  .city {
    width: 58.42%;
  }

  .country {
    width: 98%;
    float: none;
  }

  .phone {
    width: 47%;
  }

  .address {
    width: 98%;
  }

  .name {
    width: 47%;
  }

  .flcls {
    float: none;
    text-align: right;
  }

  .quantity {
    margin-top: 4px;
  }
}
@media screen and (max-width: 411px) {
  .zip {
    width: 36.7%;
  }
}
@media screen and (max-width: 390px) {
  .zip {
    width: 36%;
  }
}
@media screen and (max-width: 367px) {
  nav {
    margin-bottom: 5%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
  }

  .btnfix {
    width: 96px;
  }

  .name {
    width: 100%;
    float: none;
  }

  .lastname {
    width: 100%;
    float: none;
  }

  .address {
    width: 100%;
  }

  .zip {
    width: 100%;
    float: none;
  }

  .city {
    width: 100%;
  }

  .country {
    float: none;
    width: 100%;
  }

  .email {
    float: none;
    width: 100%;
  }

  .phone {
    float: none;
    width: 100%;
  }

  .copyright {
    font-size: 9px;
  }
}
