@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.margin-top {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.margin-top-100 {
  margin-top: 6.25rem;
}

.margin-top-80 {
  margin-top: 5rem;
}

.margin-top-60 {
  margin-top: 3.75rem;
}

.margin-top-40 {
  margin-top: 2.5rem;
}

.margin-top-32 {
  margin-top: 2rem;
}

.margin-top-20 {
  margin-top: 1.25rem;
}

.margin-top-025 {
  margin-top: 0.25rem;
}

.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  cursor: grab;
  margin-bottom: 3.5rem;
}

.slideshow-container:active {
  cursor: grabbing;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: grab;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 60px;
  height: 90%;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #1A1A1A;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  /* font-family: 'slick'; */
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 32px;
  line-height: 100%;
  opacity: 1;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.4s cubic-bezier(0.59, 0.01, 0.28, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.59, 0.01, 0.28, 1);
  transition: opacity 0.4s cubic-bezier(0.59, 0.01, 0.28, 1);
}

.slick-prev {
  text-align: start;
  left: 4%;
}

[dir=rtl] .slick-prev {
  right: 0;
  left: auto;
}

.slick-prev:before {
  content: "<";
  /* content: '←'; */
}

[dir=rtl] .slick-prev:before {
  content: ">";
  /* content: '→'; */
}

.slick-next {
  text-align: end;
  right: 4%;
}

[dir=rtl] .slick-next {
  right: auto;
  left: 0;
}

.slick-next:before {
  content: ">";
  /* content: '→'; */
}

[dir=rtl] .slick-next:before {
  content: ">";
  /* content: '→'; */
}

@font-face {
  font-family: "Akrobat-Black";
  src: url("../fonts/Akrobat-Black.eot");
  src: url("../fonts/Akrobat-Black.woff2") format("woff2"), url("../fonts/hAkrobat-Black.woff") format("woff");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("../fonts/Akrobat-SemiBold.eot");
  src: url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/hAkrobat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("../fonts/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/hAkrobat-Bold.woff") format("woff");
}
.size-16 {
  font-size: 1rem;
}

.size-20 {
  font-size: 1.25rem;
}

.size-24 {
  font-size: 1.5rem;
}

.size-28 {
  font-size: 1.75rem;
}

.size-32 {
  font-size: 2rem;
}

.size-36 {
  font-size: 2.25rem;
}

.size-60 {
  font-size: 3.75rem;
}

.size-92 {
  font-size: 5.75rem;
}

.line-height-100 {
  line-height: 100%;
}

.line-height-150 {
  line-height: 150%;
}

h1 {
  font-family: "Akrobat-Black", "sans-serif";
  line-height: 100%;
  margin-left: -4px;
}

h2, h3, h4, h5, h6 {
  font-family: "Akrobat-Black", "sans-serif";
  line-height: 100%;
  margin-left: -2px;
}

h3 {
  font-family: "Akrobat-Black", "sans-serif";
  line-height: 100%;
}

p {
  display: inline-block;
  font-family: "Akrobat-SemiBold", "sans-serif";
  line-height: 150%;
  max-width: 66ch;
}

.font-weight-black {
  font-family: "Akrobat-Black", "sans-serif";
}

.uppercase {
  text-transform: uppercase;
}

.local-stores-title {
  font-family: "Akrobat-Black", "sans-serif";
  font-size: 1.25rem;
}

html {
  font-size: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #F1F1F1;
  margin: auto;
  width: 100%;
}

.modal-content > img {
  border-bottom: 0.5rem solid #ffffff;
}

button.btnmodalclose {
  border: none;
  background-color: transparent;
  font-family: "Akrobat-Black";
  font-size: 3rem;
  position: fixed;
  float: right;
  left: 95vw;
  top: 1rem;
  cursor: pointer;
}

.modalBtn {
  padding: 0;
  border: none;
  cursor: pointer;
}

.collapsible {
  font-family: "Akrobat-Black";
  background-color: #ffffff;
  color: #1A1A1A;
  cursor: pointer;
  padding: 1rem 0 1rem 0;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25rem;
  border-bottom: 1px solid #1A1A1A;
}

.collapsible.active {
  display: block;
}

.collapsible:focus {
  background-color: #F1F1F1;
}

.collapsible:after {
  content: "+";
  color: #1A1A1A;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.collapsible.active:after {
  content: "−";
}

.content {
  padding: 0 1rem;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

::selection {
  background-color: #F41616;
  color: #ffffff;
}

body {
  font-family: "Akrobat-SemiBold", sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.wrapper {
  padding-left: 9%;
  padding-right: 9%;
}

.container {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2-product {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.75rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1.8fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.75rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.75rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-vertical-center {
  align-items: center;
}

.grid-small-gap {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo_b {
  height: 3.25rem;
  width: auto;
  display: block;
  cursor: pointer;
}

nav ul {
  float: right;
}

nav ul li {
  margin-top: 1.6rem;
  display: inline-block;
  margin-right: 2.5rem;
}
nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-family: "Akrobat-Bold", "sans-serif";
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}
nav ul li a:hover {
  color: #F41616;
  text-decoration: none;
}

nav ul li a:focus {
  color: #F41616;
}

.current a {
  color: #F41616;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(26, 26, 26, 0.16);
  padding: 0.75rem 1rem;
  z-index: 1;
}

.dropdown-content > a {
  font-family: "Akroba-SemiBold", sans-serif;
  display: block;
  font-size: 1rem;
  line-height: 160%;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  margin-top: 11.25rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.footerlinks {
  font-family: "Akrobat-SemiBold", "sans-serif";
  text-decoration: none;
  transition: all 50ms ease-in-out;
}
.footerlinks:hover {
  color: #F41616;
}

.product-wrapper {
  position: relative;
  max-width: 100%;
  background-color: #F1F1F1;
}
.product-wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.product-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-products-box_text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cancer-banner {
  background-color: #F1F1F1;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.cancer-banner > div {
  display: flex;
  justify-content: center;
}

.bg-map {
  background-image: url(../img/map-of-world.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.local-stores-wrapper {
  display: flex;
  gap: 3.75rem;
}

.x-symbol {
  height: 1.25rem;
  background-image: url(../img/x_symbol.svg);
  background-repeat: no-repeat;
}

.x-symbol-single {
  height: 1.25rem;
  background-image: url(../img/x_symbol-single.svg);
  background-repeat: repeat-x;
  width: 100%;
}

.slideshow-container-wrapper {
  max-width: 100%;
  margin-left: auto;
}

.cta-wapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.cta-home {
  font-family: "Akrobat-Black", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}
.cta-home:hover {
  color: #F41616;
}

.links {
  color: #1A1A1A;
  text-decoration: none;
  border-bottom: 1px dotted #1A1A1A;
  transition: all 100ms ease-in-out;
}
.links:hover {
  text-decoration: none;
  color: #F41616;
}

.product-links {
  text-decoration: none;
}

.product-links img {
  transition: all 100ms ease-in-out;
}
.product-links img:hover {
  scale: 1.09;
}

.local-store-links {
  font-family: "Akrobat-SemiBold", "sans-serif";
  font-size: 1.25rem;
  line-height: 150%;
  display: block;
  color: #1A1A1A;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.local-store-links:hover {
  text-decoration: none;
  color: #F41616;
}

form {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

input, textarea, select {
  font-family: "Akrobat-SemiBold", "sans-serif";
  background-color: #F1F1F1;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 150%;
  color: #1A1A1A;
  vertical-align: middle;
}

label {
  font-family: "Akrobat-Black", "sans-serif";
  font-size: 1.25rem;
  line-height: 150%;
  color: #1A1A1A;
}

textarea {
  height: auto;
  resize: vertical;
  overflow: auto;
}

textarea:focus, input:focus, select:focus {
  outline: none;
  border-bottom: 1px solid #1A1A1A;
  background-color: #ffffff;
  box-shadow: none;
}

.personalinfo {
  display: none;
}

.submit {
  font-family: "Akrobat-Black", "sans-serif";
  background-color: #1A1A1A;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  color: #ffffff;
  border: 0;
  border-radius: 0 !important;
  padding: 12px 36px;
  margin: 0;
  transition: all 100ms ease-in-out;
}
.submit:hover {
  background-color: #F41616;
}

.thnks_contact {
  display: none;
  margin-top: 3.75rem;
}

.error {
  font-family: "Akrobat-SemiBold", "sans-serif";
  font-size: 1.25rem;
  line-height: 150%;
  color: #F41616;
  margin-top: 1.25rem;
}

.black {
  color: #1A1A1A;
}

.gray {
  color: #F1F1F1;
}

.white {
  color: #ffffff;
}

.red {
  color: #F41616;
}

.blue {
  color: #165CF4;
}

.yellow {
  color: #F4A616;
}

.display-block {
  display: block;
}

.hidedesktop {
  display: none;
}

.hidesmall {
  display: block;
}

.hidedesktop-to-xs {
  display: none;
}

/* The side navigation menu */
.hamburger {
  font-family: "Akrobat-Black", "sans-serif";
  line-height: 100%;
  cursor: pointer;
  font-size: 2.19rem;
  color: #1A1A1A;
  border: none;
  background-color: transparent;
  float: right;
  padding-right: 0;
}

.sidenav {
  position: relative;
  display: block;
  height: 100%;
  /* 100% Full-height */
  width: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  right: 0;
  border-right-width: 0;
  background-color: #ffffff;
  /* Black*/
  /* Enables vertical scroll */
  /* Disable horizontal scroll */
  padding-top: 25%;
  /* Place content 60px from the top */
  transition: 0.1s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* The main point: */
  overflow-y: auto;
  /* Optional but highly reccomended: enables momentum scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}

.mobilemenulinks {
  margin-top: 3.75rem;
  margin-bottom: 3rem;
  display: inline-block;
}

/* The navigation menu links */
.sidenav a {
  font-family: "Akrobat-Bold", "sans-serif";
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 200%;
  padding-left: 25%;
  text-decoration: none;
  color: #1A1A1A;
  display: block;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

a.mobile-sub-links {
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 150%;
  padding-left: 3rem;
}

.sidenav a:last-child {
  margin-bottom: 150px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #F41616;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-family: "Akrobat-Black", "sans-serif";
  color: #1A1A1A;
  position: fixed;
  top: 1.05rem;
  right: 7.5%;
  font-size: 2.19rem;
}

@media only screen and (orientation: landscape) {
  footer {
    -webkit-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 1680px) {
  nav ul li {
    margin-right: 2.25rem;
  }

  footer {
    margin-top: 10.75rem;
  }

  .size-24 {
    font-size: 1.313rem;
  }

  .size-60 {
    font-size: 3.563rem;
  }

  .size-92 {
    font-size: 5.563rem;
  }

  .cta-wapper {
    gap: 2.25rem;
  }

  .cta-home {
    font-size: 1.563rem;
  }

  .grid-3, .grid-4 {
    grid-column-gap: 2.25rem;
  }

  .grid-2-product {
    grid-column-gap: 2.25rem;
  }

  .grid-small-gap {
    grid-column-gap: 1.125rem;
    grid-row-gap: 1.125rem;
  }

  .local-stores-wrapper {
    gap: 3.25rem;
  }

  .cancer-banner {
    padding-top: 1.75rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.75rem;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }

  nav ul li {
    margin-top: 1.2rem;
    margin-right: 1.75rem;
  }

  nav ul li a {
    font-size: 1.1rem;
  }

  .logo_b {
    height: 2.5rem;
  }

  .dropdown-content > a {
    font-size: 0.875rem;
  }

  footer {
    margin-top: 10rem;
    font-size: 1.125rem;
  }

  .cta-wapper {
    gap: 2rem;
  }

  .cta-home {
    font-size: 1.5rem;
  }

  .grid-3, .grid-4 {
    grid-column-gap: 2rem;
    grid-row-gap: 3.5rem;
  }

  .grid-2-product {
    grid-column-gap: 2rem;
    grid-row-gap: 3.5rem;
  }

  .grid-small-gap {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }

  .margin-top-100 {
    margin-top: 5.75rem;
  }

  .margin-top-80 {
    margin-top: 4.75rem;
  }

  .margin-top-60 {
    margin-top: 3.5rem;
  }

  .margin-top-40 {
    margin-top: 2.25rem;
  }

  .margin-top-32 {
    margin-top: 2rem;
  }

  .margin-top-20 {
    margin-top: 1.125rem;
  }

  .local-stores-wrapper {
    gap: 2.75rem;
  }

  .size-16 {
    font-size: 0.875rem;
  }

  .size-20 {
    font-size: 1.125rem;
  }

  .size-24 {
    font-size: 1.2rem;
  }

  .size-28 {
    font-size: 1.5rem;
  }

  .size-32 {
    font-size: 1.75rem;
  }

  .size-36 {
    font-size: 2rem;
  }

  .size-60 {
    font-size: 3.25rem;
  }

  .size-92 {
    font-size: 4.5rem;
  }

  .local-stores-title {
    font-size: 1.125rem;
  }

  .local-store-links {
    font-size: 1rem;
  }

  .cta-home {
    font-size: 1.4rem;
  }

  .cancer-banner {
    padding-top: 1.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .x-symbol-single {
    height: 1.19rem;
  }

  input, textarea, select {
    padding: 0.75rem 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  label {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 1280px) {
  html.noscroll {
    overflow: hidden;
  }

  body.noscroll {
    overflow: visible;
    height: 100%;
  }

  .wrapper {
    padding-left: 7%;
    padding-right: 7%;
  }

  .topnav {
    display: none;
  }

  .hidedesktop {
    display: block;
  }

  .hidesmall {
    display: none;
  }

  .logo_b {
    height: 2.25rem;
  }

  footer {
    margin-top: 8.75rem;
    font-size: 1rem;
  }

  .margin-top-100 {
    margin-top: 5rem;
  }

  .margin-top-80 {
    margin-top: 4.5rem;
  }

  .margin-top-60 {
    margin-top: 3.25rem;
  }

  .margin-top-40 {
    margin-top: 2rem;
  }

  .margin-top-32 {
    margin-top: 1.75rem;
  }

  .margin-top-20 {
    margin-top: 1.125rem;
  }

  .grid-2 {
    grid-column-gap: 2.75rem;
    grid-row-gap: 3.25rem;
  }

  .grid-3, .grid-4 {
    grid-column-gap: 1.75rem;
    grid-row-gap: 3.25rem;
  }

  .grid-2-product {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cta-wapper {
    gap: 1.75rem;
  }

  .cta-home {
    font-size: 1.2rem;
  }

  .local-stores-title {
    font-size: 1.1rem;
  }

  .local-store-links {
    font-size: 0.85rem;
  }

  .size-16 {
    font-size: 0.75rem;
  }

  .size-20 {
    font-size: 1rem;
  }

  .size-24 {
    font-size: 1.125rem;
  }

  .size-28 {
    font-size: 1.35rem;
  }

  .size-32 {
    font-size: 1.75rem;
  }

  .size-36 {
    font-size: 2rem;
  }

  .size-60 {
    font-size: 3rem;
  }

  .size-92 {
    font-size: 3.75rem;
  }

  .local-stores-wrapper {
    gap: 1.75rem;
  }

  .x-symbol-single {
    height: 1rem;
  }

  input, textarea, select {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.188rem;
  }

  label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }

  .sidenav .closebtn {
    right: 6.7%;
  }

  footer {
    margin-top: 7.5rem;
    line-height: 160%;
  }

  footer p {
    display: block;
  }

  .size-60 {
    font-size: 2.25rem;
  }

  .size-92 {
    font-size: 3rem;
  }

  .cta-wapper {
    gap: 1.25rem;
  }

  .grid-2, .grid-2-product, .grid-3, .grid-4, .grid-2-product {
    grid-column-gap: 1.25rem;
    grid-row-gap: 3.25rem;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 3.25rem;
  }

  .grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-4-spacing-home-mobile {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.25rem;
  }

  .grid-vertical-center {
    align-items: normal;
  }

  .margin-top-100 {
    margin-top: 4rem;
  }

  .margin-top-80 {
    margin-top: 3.5rem;
  }

  .margin-top-60 {
    margin-top: 2.75rem;
  }

  .margin-top-40 {
    margin-top: 2rem;
  }

  .margin-top-32 {
    margin-top: 1.25rem;
  }

  .margin-top-20 {
    margin-top: 1rem;
  }

  .slideshow-container {
    margin-bottom: 2.75rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    margin-top: 6.25rem;
  }

  .grid-2, .grid-2-product, .grid-4, .grid-2-product {
    grid-column-gap: 0.75rem;
    grid-row-gap: 2rem;
  }

  .grid-3 {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0;
  }

  .grid-4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-4-spacing-home-mobile {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.75rem;
  }

  .size-92 {
    font-size: 2.5rem;
  }

  .margin-top-60 {
    margin-top: 2rem;
  }

  .margin-top-40 {
    margin-top: 1rem;
  }

  .margin-top-reset-small {
    margin-top: 1.75rem;
  }

  .margin-top-32 {
    margin-top: 0.75rem;
  }

  .cta-wapper {
    gap: 0.75rem;
  }

  footer {
    font-size: 0.85rem;
  }

  .slideshow-container {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 479px) {
  .hide-xs {
    display: none;
  }

  .hidedesktop-to-xs {
    display: block;
  }

  .products-title-reset-xs {
    line-height: 100%;
    margin-top: 0.5rem;
  }

  .margin-bottom-reset {
    margin-bottom: 0.75rem;
  }

  .local-stores-wrapper {
    flex-wrap: wrap;
  }

  .local-stores-wrapper {
    gap: 1.25rem;
  }

  .size-60 {
    font-size: 2rem;
  }

  .size-92 {
    font-size: 2.25rem;
  }

  .cta-wapper {
    gap: 0.75rem;
  }

  .cancer-banner {
    padding-top: 1.75rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .margin-top-100 {
    margin-top: 3.75rem;
  }

  .margin-top-80 {
    margin-top: 3.25rem;
  }

  .margin-top-60 {
    margin-top: 1.75rem;
  }

  .margin-top-reset-small {
    margin-top: 1.25rem;
  }

  .grid-2, .grid-2-product, .grid-4, .grid-2-product {
    grid-column-gap: 0.75rem;
    grid-row-gap: 1.75rem;
  }

  .grid-4-spacing-home-mobile {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.75rem;
  }

  .slideshow-container {
    margin-bottom: 1.25rem;
  }
}
